# LP1 Data Analysis Project
### Indian Startup Data Analysis (2018-2021)

### Objective

Understanding the Indian startup ecosystem from previous data on funding and investors from **2018 to 2021**, and proposing to our team the best way to venture into the market.

### Hypothesis
**Null Hypothesis(Ho)** : No relationship between sector and amount raised(capital)

**Alternate Hypothesis(Ha)** : Some sectors receive more funding than others (relationship between the sector and amount raised)

### Research Questions

1. Which sector has the highest number of investors?

2. Which sector received the highest amount of funding collectively?

3. Which region has the most startups?

4. Which sector received the lowest amount of funding collectively?

5. Which industry received the lowest amount of funding collectively?

6. What is the average amount of capital invested for the top 5 sectors?

### Some Relevant Stakeholders

-   Startups

-   Investors

-   Government

-   Incubators and Startup Accelerators

-   Other Founders and Entrepreneurs

-   Customers

-   Competitors

## Installations

Packages for accessing remote database with data

In [159]:
# %pip install pyodbc  # Fix some structural errors
# %pip install python-dotenv

Import other packages/libraries required for the project

In [160]:
# Database connections

import pyodbc 
from dotenv import dotenv_values #import the dotenv_values function from the dotenv package
import warnings 
warnings.filterwarnings('ignore')

# Data handling

import pandas as pd
import numpy as np

# Data Visualisation

import seaborn as sns
import matplotlib.pyplot as plt

## Accessing 2020-2021 data from the database

-   **pyodbc**: A package for creating connection strings to your remote database
-   **python-dotenv**: A package for creating environment variables that will help you hide sensitve configuration informantion such as database credentials and API keys

We already have our 2018 and 2019 data stored in csv files. We want to access the 2020 and 2021 data.

In [161]:
# Load environment variables from .env file into a dictionary
environment_variables = dotenv_values('.env')


# Get the values for the credentials you set in the '.env' file
database = environment_variables.get("DATABASE")
server = environment_variables.get("SERVER")
username = environment_variables.get("USERNAME")
password = environment_variables.get("PASSWORD")


connection_string = f"DRIVER={{SQL Server}};SERVER=tcp:{server};DATABASE={database};UID={username};PWD={password}"

In [162]:
# Use the connect method of the pyodbc library and pass in the connection string.
# This will connect to the server and might take a few seconds to be complete. 
# Check your internet connection if it takes more time than necessary

connection = pyodbc.connect(connection_string)

In [163]:
# Get the cursor
cursor = connection.cursor()

# Retrieve the table names
table_names = cursor.tables(tableType='TABLE')

# Fetch all the table names
tables = table_names.fetchall()

# Print the table names
for table in tables:
    print(table.table_name)

LP1_startup_funding2020
LP1_startup_funding2021
trace_xe_action_map
trace_xe_event_map

In [164]:
# Now the sql query to get the data is what what you see below. 
# Note that you will not have permissions to insert delete or update this database table. 

query = "SELECT * FROM LP1_startup_funding2020"
data=pd.read_sql(query,connection)

In [165]:
data.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,"2,019.00",Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,"200,000.00",None,None
1,Krayonnz,"2,019.00",Bangalore,EdTech,An academy-guardian-scholar centric ecosystem which provides state of the art technological solutions.,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,"100,000.00",Pre-seed,None
2,PadCare Labs,"2,018.00",Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,"2,020.00",New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital","400,000.00",None,None
4,Gramophone,"2,016.00",Indore,AgriTech,Gramophone is an AgTech platform enabling access to agri inputs and powering efficient farm management.,"Ashish Rajan Singh, Harshit Gupta, Nishant Mahatre, Tauseef Khan","Siana Capital Management, Info Edge","340,000.00",None,None

In [166]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
dtypes: float64(2), object(8)
memory usage: 82.6+ KB

In [167]:
# save to csv

data.to_csv('LP1_startup_funding2020.csv', index=False)

In [168]:
query = "SELECT * FROM LP1_startup_funding2021"
data_2=pd.read_sql(query,connection)

In [169]:
data_2.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,"2,019.00",Bangalore,AI startup,"Unbox Robotics builds on-demand AI-driven warehouse robotics solutions, which can be deployed using limited foot-print, time, and capital.","Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,"2,015.00",Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh, Ronnie Screwvala","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,"2,012.00",Mumbai,EdTech,LEAD School offers technology based school transformation system that assures excellent learning for every child.,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,"2,015.00",Mumbai,B2B E-commerce,Bizongo is a business-to-business online marketplace for packaging products.,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,"2,021.00",Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, empowering them with financial literacy and ease of secured financial transactions.",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

In [170]:
data_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB

In [171]:
# save to csv

data_2.to_csv('LP1_startup_funding2021.csv', index=False)

In [172]:
data_3 = pd.read_csv('startup_funding2018.csv')
data_3.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, Sponsorship, Ticketing",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and frolic of Colleges."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy farmers in rural Maharashtra.
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organization which offers short term financial suport to corporate employees.
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants to create a difference by selling globally.

In [173]:
data_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 24.8+ KB

In [174]:
data_4 = pd.read_csv('startup_funding2019.csv')
data_4.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,"2,014.00",Mumbai,Edtech,"A learning platform that provides topic-based journey, animated videos, quizzes, infographic and mock tests to students","Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,"2,014.00",Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ Labs","$30,000,000",Series D
4,Nu Genes,"2,004.00",Telangana,AgriTech,"It is a seed company engaged in production, processing and marketing of seeds",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN

In [175]:
data_4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

# Exploratory Data Analysis - EDA
## Cleaning and analysis

### 2018 Data Cleaning

In [185]:
data_df_2018 = pd.read_csv('startup_funding2018.csv')
data_df_2018.tail()

,Company Name,Industry,Round/Series,Amount,Location,About Company
521,Udaan,"B2B, Business Development, Internet, Marketplace",Series C,225000000,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specifically for small and medium businesses in India."
522,Happyeasygo Group,"Tourism, Travel",Series A,—,"Haryana, Haryana, India",HappyEasyGo is an online travel domain.
523,Mombay,"Food and Beverage, Food Delivery, Internet",Seed,7500,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives to start household food business and avail everyone with their homemade healthy dishes.
524,Droni Tech,Information Technology,Seed,"₹35,000,000","Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop software to service a range of industry requirements.
525,Netmeds,"Biotechnology, Health Care, Pharmaceutical",Series C,35000000,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!

In [186]:
data_df_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 24.8+ KB

In [187]:
# Check for duplicates

data_df_2018.duplicated().sum()

1

In [189]:
# show all occurences of duplicated rows

data_df_2018[data_df_2018.duplicated(keep=False)]

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, Sponsorship, Ticketing",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and frolic of Colleges."
348,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, Sponsorship, Ticketing",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and frolic of Colleges."

In [190]:
# Drop duplicates

data_df_2018.drop_duplicates(inplace = True)

In [191]:
#pd.set_option('display.max_rows', None)

In [194]:
data_df_2018['Industry'].value_counts()

Industry
—                                                                                                                                           30
Financial Services                                                                                                                          15
Education                                                                                                                                    8
Information Technology                                                                                                                       7
Finance, Financial Services                                                                                                                  5
Health Care, Hospital                                                                                                                        5
Artificial Intelligence                                                                                                                      4
Health Care                                                                                                                                  4
Fitness, Health Care, Wellness                                                                                                               4
Internet                                                                                                                                     4
Software                                                                                                                                     4
Automotive                                                                                                                                   3
Financial Services, Lending                                                                                                                  3
E-Learning                                                                                                                                   3
Food and Beverage                                                                                                                            3
Tourism, Travel                                                                                                                              3
Food and Beverage, Food Processing                                                                                                           3
Travel                                                                                                                                       3
Information Services, Information Technology                                                                                                 3
Consumer Goods                                                                                                                               2
Biotechnology                                                                                                                                2
Health Care, Hospital, Supply Chain Management                                                                                               2
Finance                                                                                                                                      2
E-Learning, Education                                                                                                                        2
Transportation                                                                                                                               2
Aerospace                                                                                                                                    2
Fashion                                                                                                                                      2
E-Commerce                                                                                                                                   2
Credit, Financial Services, FinTech, Lending                                                                                                 2
Finance, Financial Services, FinTech                                                                                                         2
Human Resources                                                                                                                              2
Health Care, Medical, Pharmaceutical                                                                                                         2
Retail                                                                                                                                       2
Sports                                                                                                                                       2
Digital Media                                                                                                                                2
Health Diagnostics                                                                                                                           2
E-Learning, EdTech, Education                                                                                                                2
Mobile Payments                                                                                                                              2
Insurance                                                                                                                                    2
Financial Services, FinTech                                                                                                                  2
Agriculture, Farming                                                                                                                         2
Banking, Finance, Financial Services                                                                                                         2
Market Research                                                                                                                              2
Crowdfunding, Finance, Financial Services                                                                                                    2
Communities, Leisure, Mobile Apps, Software                                                                                                  1
Agriculture, Mobile                                                                                                                          1
Fashion, Graphic Design, Wearables                                                                                                           1
Career Planning, Education, Internet                                                                                                         1
Medical, Tourism                                                                                                                             1
Finance, FinTech, Payments, Property Development, Rental                                                                                     1
Social Media, Sports                                                                                                                         1
Apps, Home Services, Information Services, Information Technology                                                                            1
Child Care, Health Care, Hospital, Medical, Women's                                                                                          1
Information Services, Information Technology, Mobile, Software                                                                               1
Smart Cities, Telecommunications                                                                                                             1
Apps, Fitness, Health Care, mHealth                                                                                                          1
Food and Beverage, Food Delivery                                                                                                             1
Internet of Things, Robotics                                                                                                                 1
Apps, Financial Services, FinTech                                                                                                            1
Automotive, Rental, Sharing Economy                                                                                                          1
Customer Service, Information Technology, Internet, Sales Automation                                                                         1
E-Commerce, E-Commerce Platforms, Retail                                                                                                     1
EdTech, Education, Mobile, Tutoring                                                                                                          1
Beauty, Cosmetics, Health Care, Service Industry                                                                                             1
Credit Cards, Payments, Property Insurance, Property Management, Rental Property                                                             1
Advertising, Artificial Intelligence, Digital Media, iOS, Location Based Services, News, Video, Video on Demand, Video Streaming             1
E-Commerce, Fashion, Shopping                                                                                                                1
Digital Entertainment, Mobile, PC Games                                                                                                      1
Biopharma                                                                                                                                    1
Crowdfunding, Financial Services, Internet                                                                                                   1
Information Technology, SaaS, Security                                                                                                       1
Finance, Financial Services, Small and Medium Businesses                                                                                     1
Artificial Intelligence, Energy, Oil and Gas                                                                                                 1
Energy, Environmental Consulting, Renewable Energy, Solar                                                                                    1
Computer, FinTech, Risk Management, Software                                                                                                 1
Continuing Education, EdTech, Education, Skill Assessment                                                                                    1
Human Resources, Security, Training                                                                                                          1
Commercial, E-Learning, Education                                                                                                            1
Big Data, Financial Services, Machine Learning, Predictive Analytics                                                                         1
E-Learning, EdTech, Education, Image Recognition, Machine Learning, STEM Education                                                           1
Wedding                                                                                                                                      1
Finance, FinTech, Mobile Payments                                                                                                            1
Cryptocurrency, Trading Platform                                                                                                             1
Agriculture, AgTech, Artificial Intelligence, Internet of Things, Machine Learning                                                           1
Fraud Detection, Information Services, Security                                                                                              1
B2B, E-Commerce, Enterprise                                                                                                                  1
Digital Media, News, Publishing                                                                                                              1
Agriculture, AgTech, Manufacturing                                                                                                           1
Consulting                                                                                                                                   1
Crowdsourcing, Financial Services, Funding Platform, Venture Capital                                                                         1
Media and Entertainment, News, Publishing                                                                                                    1
Basketball, Cricket, Cycling, eSports, Fitness, Golf, Health Care, Hockey, Sports, Swimming, Table Tennis, Volley Ball                       1
Big Data, Data Visualization, Logistics, Software                                                                                            1
Delivery Service, Logistics, Service Industry                                                                                                1
Apps, Health Care, Hospital, Mobile Apps                                                                                                     1
Consumer Electronics                                                                                                                         1
Education, Human Resources                                                                                                                   1
Biotechnology, Health Care, Life Science, Medical Device                                                                                     1
Finance, Financial Services, Marketing                                                                                                       1
Digital Entertainment                                                                                                                        1
Delivery, Drones, Geospatial, Robotics                                                                                                       1
Automotive, Last Mile Transportation, Peer to Peer, Ride Sharing                                                                             1
Advertising, Internet, Marketing                                                                                                             1
Digital Entertainment, Fantasy Sports, Gaming, Sports                                                                                        1
Apps, B2B, Freight Service, Logistics, SaaS, Shipping, Supply Chain Management, Transportation                                               1
Marketing                                                                                                                                    1
Apps                                                                                                                                         1
Food Processing                                                                                                                              1
Banking                                                                                                                                      1
Marketing, Social Media, Video                                                                                                               1
Consumer Lending, Finance, FinTech                                                                                                           1
Health Insurance, Insurance, Life Insurance                                                                                                  1
CleanTech                                                                                                                                    1
Health Care, Information Technology, Management Information Systems                                                                          1
Consumer Electronics, E-Commerce, E-Commerce Platforms, Electronics, Shipping, Shopping                                                      1
Financial Services, Insurance, Private Social Networking                                                                                     1
Dental, Elder Care, Health Care, Home Health Care, Personal Health                                                                           1
Internet, Software                                                                                                                           1
Alternative Medicine, Health Care                                                                                                            1
Medical Device                                                                                                                               1
Career Planning, Education, Higher Education, Service Industry                                                                               1
Business Travel, Hospitality, Hotel, Marketplace, Tourism, Travel Accommodations                                                             1
Farming                                                                                                                                      1
Apps, Payments, Retail                                                                                                                       1
Mobile, Software, Travel                                                                                                                     1
Rental, Taxi Service, Travel                                                                                                                 1
Energy, Natural Resources                                                                                                                    1
Apps, E-Commerce, Internet, Mobile, Ride Sharing, Transportation                                                                             1
Consumer, Furniture, Home Decor, Home Improvement                                                                                            1
Artificial Intelligence, Machine Learning, PaaS                                                                                              1
Dating, Private Social Networking                                                                                                            1
Logistics, Railroad, Transportation                                                                                                          1
Artificial Intelligence, Human Resources, Information Services, Information Technology                                                       1
Apps, Events, News                                                                                                                           1
E-Commerce, Furniture, Interior Design                                                                                                       1
Health Care, Health Diagnostics, Internet of Things, Life Science, Machine Learning, Medical, Medical Device                                 1
Internet, Mobile Apps, Social Network                                                                                                        1
Industrial, Industrial Automation                                                                                                            1
News, Publishing, Social Media                                                                                                               1

In [195]:
# Missing values in Industry Column

data_df_2018[data_df_2018['Industry'] == '—'].head()

,Company Name,Industry,Round/Series,Amount,Location,About Company
58,MissMalini Entertainment,—,Seed,"₹104,000,000","Mumbai, Maharashtra, India","MissMalini Entertainment is a multi-platform new media network dedicated to Entertaining, Connecting & Empowering young Indians."
105,Jagaran Microfin,—,Debt Financing,"₹550,000,000","Kolkata, West Bengal, India",Jagaran Microfin is a Microfinance institution which achieves a healthy amalgamation of social and financial
121,FLEECA,—,Seed,—,"Jaipur, Rajasthan, India",FLEECA is a Tyre Care Provider company.
146,WheelsEMI,—,Series B,"$14,000,000","Pune, Maharashtra, India","WheelsEMI is the brand name of NBFC, WheelsEMI Pvt. Ltd."
153,Fric Bergen,—,Venture - Series Unknown,—,"Alwar, Rajasthan, India",Fric Bergen is a leader in the specialty food industry.

In [196]:
# Replace missing values with np.nan

data_df_2018['Industry']=data_df_2018['Industry'].replace('—',np.nan)

In [197]:
# we want to simplify the industry column
## Split values with a comma delimiter, select only the first element from the resulting list of substrings
## remove single quotes, since it is a string

data_df_2018['Industry'] = data_df_2018['Industry'].str.split(',').str[0].str.replace("'", "", regex=True)

In [198]:
data_df_2018['Industry'].sort_values()

139                           3D Printing
446                            Accounting
422                            Accounting
17                             Accounting
81                            Advertising
366                           Advertising
123                           Advertising
333                           Advertising
87                              Aerospace
421                             Aerospace
127                                AgTech
436                           Agriculture
302                           Agriculture
402                           Agriculture
293                           Agriculture
432                           Agriculture
25                            Agriculture
382                           Agriculture
1                             Agriculture
20                     Air Transportation
323                  Alternative Medicine
266                             Analytics
241                             Analytics
200                             Analytics
471                             Analytics
265                               Android
107                                  Apps
388                                  Apps
380                                  Apps
44                                   Apps
122                                  Apps
354                                  Apps
496                                  Apps
492                                  Apps
386                                  Apps
142                                  Apps
423                                  Apps
430                                  Apps
274                                  Apps
343                                  Apps
485                                  Apps
477                                  Apps
438                                  Apps
12                                   Apps
345                                  Apps
282                                  Apps
96                Artificial Intelligence
331               Artificial Intelligence
89                Artificial Intelligence
378               Artificial Intelligence
161               Artificial Intelligence
236               Artificial Intelligence
85                Artificial Intelligence
490               Artificial Intelligence
403               Artificial Intelligence
486               Artificial Intelligence
154               Artificial Intelligence
18                Artificial Intelligence
439               Artificial Intelligence
29                Artificial Intelligence
48                Artificial Intelligence
159                                 Audio
390                            Automotive
15                             Automotive
140                            Automotive
461                            Automotive
451                            Automotive
202                            Automotive
449                            Automotive
28                             Automotive
435                            Automotive
434                            Automotive
141                            Automotive
349                            Automotive
263                            Automotive
360                            Automotive
118                            Automotive
172                            Automotive
70                             Automotive
143                            Automotive
23                    Autonomous Vehicles
466                   Autonomous Vehicles
180                                   B2B
95                                    B2B
117                                   B2B
413                                   B2B
521                                   B2B
260                                   B2B
53                                    B2B
300                                   B2B
10                                    B2B
440                                   B2B
151                               Banking
156                               Banking
369                               Banking
426                               Banking
499                               Banking
115                               Banking
339                               Banking
286                            Basketball
401                               Battery
124                                Beauty
513                                Beauty
136                                Beauty
368                                Beauty
60                               Big Data
292                              Big Data
285                              Big Data
239                              Big Data
270                              Big Data
372                             Biopharma
416                         Biotechnology
465                         Biotechnology
183                         Biotechnology
277                         Biotechnology
428                         Biotechnology
525                         Biotechnology
72                          Biotechnology
34                             Blockchain
0                         Brand Marketing
52                           Broadcasting
215                  Business Development
167                 Business Intelligence
320                       Business Travel
321                       Career Planning
357                       Career Planning
261                              Catering
502                            Child Care
381                            Child Care
171                              Children
255                              Children
149                           Classifieds
42                           Clean Energy
330                             CleanTech
447                       Cloud Computing
61                        Cloud Computing
204                       Cloud Computing
214                       Cloud Computing
5                    Cloud Infrastructure
237                         Collaboration
445                         Collaboration
350                            Commercial
272                Commercial Real Estate
359                           Communities
76                            Communities
443                              Computer
264                              Computer
379                              Computer
289                            Consulting
71                             Consulting
408                            Consulting
179                              Consumer
491                              Consumer
77                               Consumer
78                  Consumer Applications
281                  Consumer Electronics
197                  Consumer Electronics
329                  Consumer Electronics
415                        Consumer Goods
316                        Consumer Goods
309                        Consumer Goods
65                         Consumer Goods
336                      Consumer Lending
165                      Consumer Lending
109                      Consumer Lending
134                      Consumer Lending
351                  Continuing Education
453                               Cooking
407                             Cosmetics
108                       Creative Agency
2                                  Credit
74                                 Credit
498                                Credit
414                                Credit
168                                Credit
128                          Credit Cards
367                          Credit Cards
253                          Crowdfunding
364                          Crowdfunding
299                          Crowdfunding
313                         Crowdsourcing
303                        Cryptocurrency
365                      Customer Service
224                      Customer Service
395                      Customer Service
489                                Dating
267                              Delivery
314                              Delivery
450                              Delivery
463                      Delivery Service
283                      Delivery Service
508                      Delivery Service
327                                Dental
231                   Dietary Supplements
375                 Digital Entertainment
144                 Digital Entertainment
347                 Digital Entertainment
312                 Digital Entertainment
98                      Digital Marketing
307                         Digital Media
246                         Digital Media
295                         Digital Media
275                         Digital Media
166                         Digital Media
196                         Digital Media
88                             E-Commerce
225                            E-Commerce
245                            E-Commerce
374                            E-Commerce
91                             E-Commerce
504                            E-Commerce
501                            E-Commerce
495                            E-Commerce
484                            E-Commerce
475                            E-Commerce
459                            E-Commerce
152                            E-Commerce
38                             E-Commerce
102                            E-Commerce
43                             E-Commerce
399                            E-Commerce
173                            E-Commerce
392                            E-Commerce
373                            E-Commerce
56                             E-Commerce
419                            E-Commerce
252                            E-Commerce
4                    E-Commerce Platforms
41                             E-Learning
409                            E-Learning
308                            E-Learning
455                            E-Learning
84                             E-Learning
506                            E-Learning
517                            E-Learning
119                            E-Learning
145                            E-Learning
110                            E-Learning
169                            E-Learning
130                                EdTech
93                                 EdTech
104                                EdTech
54                                 EdTech
370                                EdTech
113                                EdTech
184                             Education
279                             Education
206                             Education
191                             Education
164                             Education
216                             Education
512                             Education
385                             Education
332                             Education
80                              Education
67                              Education
37                              Education
431                      Electric Vehicle
120                      Embedded Systems
425                                Energy
160                                Energy
361                                Energy
494                                Energy
94                                 Energy
155    Enterprise Resource Planning (ERP)
24                    Enterprise Software
268              Environmental Consulting
138                                Events
518                               Eyewear
201           Facilities Support Services
511                        Fantasy Sports
319                               Farming
69                                Fashion
404                               Fashion
358                               Fashion
205                               Fashion
509                               Fashion
411                               Fashion
248                          File Sharing
454                               FinTech
520                               FinTech
116                               Finance
209                               Finance
469                               Finance
16                                Finance
470                               Finance
383                               Finance
304                               Finance
254                               Finance
376                               Finance
271                               Finance
276                               Finance
188                               Finance
474                               Finance
223                               Finance
100                               Finance
193                               Finance
213                               Finance
291                               Finance
21                     Financial Services
189                    Financial Services
393                    Financial Services
468                    Financial Services
429                    Financial Services
106                    Financial Services
441                    Financial Services
27                     Financial Services
334                    Financial Services
32                     Financial Services
356                    Financial Services
317                    Financial Services
420                    Financial Services
503                    Financial Services
296                    Financial Services
221                    Financial Services
39                     Financial Services
222                    Financial Services
500                    Financial Services
114                    Financial Services
3                      Financial Services
412                    Financial Services
232                    Financial Services
46                     Financial Services
244                    Financial Services
328                    Financial Services
405                               Fitness
311                               Fitness
234                               Fitness
515                               Fitness
433                               Fitness
47                                Fitness
103                               Fitness
444                         Food Delivery
13                          Food Delivery
175                         Food Delivery
101                         Food Delivery
126                         Food Delivery
63                        Food Processing
342                       Food Processing
516                     Food and Beverage
262                     Food and Beverage
523                     Food and Beverage
269                     Food and Beverage
273                     Food and Beverage
50                      Food and Beverage
198                     Food and Beverage
22                      Food and Beverage
387                     Food and Beverage
514                     Food and Beverage
68                      Food and Beverage
505                     Food and Beverage
341                     Food and Beverage
36                      Food and Beverage
229                     Food and Beverage
507                     Food and Beverage
301                       Fraud Detection
147                      Funding Platform
396                                Gaming
162                            Government
99                            Health Care
427                           Health Care
250                           Health Care
318                           Health Care
86                            Health Care
83                            Health Care
226                           Health Care
125                           Health Care
73                            Health Care
298                           Health Care
111                           Health Care
217                           Health Care
493                           Health Care
487                           Health Care
483                           Health Care
315                           Health Care
55                            Health Care
417                           Health Care
418                           Health Care
340                           Health Care
462                           Health Care
62                            Health Care
362                           Health Care
187                           Health Care
57                            Health Care
203                           Health Care
394                    Health Diagnostics
112                    Health Diagnostics
389                      Health Insurance
92                             Home Decor
249                            Home Decor
137                              Hospital
464                           Hospitality
148                           Hospitality
49                            Hospitality
192                           Hospitality
335                       Human Resources
290                       Human Resources
220                       Human Resources
481                            Industrial
14                  Industrial Automation
35                  Industrial Automation
448                  Information Services
8                    Information Services
133                  Information Services
384                  Information Services
158                  Information Services
284                  Information Services
467                Information Technology
363                Information Technology
305                Information Technology
33                 Information Technology
437                Information Technology
163                Information Technology
219                Information Technology
310                Information Technology
524                Information Technology
519                Information Technology
31                              Insurance
90                              Insurance
288                              Internet
199                              Internet
11                               Internet
135                              Internet
280                              Internet
6                                Internet
211                              Internet
218                              Internet
75                               Internet
482                              Internet
497                              Internet
324                              Internet
186                              Internet
30                     Internet of Things
19                     Internet of Things
353                    Internet of Things
452              Last Mile Transportation
97                              Logistics
26                              Logistics
488                             Logistics
131                         Manufacturing
132                         Manufacturing
233                         Manufacturing
194                       Market Research
7                         Market Research
337                             Marketing
344                             Marketing
82                            Marketplace
51                Media and Entertainment
287               Media and Entertainment
355                               Medical
207                               Medical
322                        Medical Device
176                                Mobile
79                                 Mobile
406                                Mobile
9                         Mobile Payments
377                       Mobile Payments
460                                 Music
208                       Music Streaming
240                        Nanotechnology
479                                  News
456                          Online Games
458                        Online Portals
442                    Packaging Services
424                          Reading Apps
40                       Renewable Energy
177                                Rental
391                                Rental
397                                Retail
212                                Retail
400                         Search Engine
352                          Smart Cities
371                          Social Media
297                              Software
256                              Software
170                              Software

In [199]:
pd.set_option("display.max_colwidth", None)
data_df_2018[data_df_2018['Industry'] == 'Android']

,Company Name,Industry,Round/Series,Amount,Location,About Company
265,edureka!,Android,Series A,2000000,"Bangalore, Karnataka, India","Edureka is the fastest growing online learning platform that offers live, instructor-led courses for professionals from various industries."

In [200]:
# Fix some structural errors (done through observation and individual inspection)

data_df_2018['Industry'].replace('Android','E-Learning',inplace =True, regex=True)
data_df_2018['Industry'].replace('Wellness','Health Care',inplace =True, regex=True)
data_df_2018['Industry'].replace('Basketball','Apps',inplace =True, regex=True) 
data_df_2018['Industry'].replace('Catering','Food Delivery',inplace =True, regex=True)
data_df_2018['Industry'].replace('Cooking','Food Delivery',inplace =True, regex=True)
data_df_2018['Industry'].replace('Crowdsourcing','Crowdfunding',inplace =True, regex=True)

In [201]:
# checking amount column for different values

data_df_2018['Amount'].value_counts()

Amount
—                  148
1000000             24
500000              13
2000000             12
₹50,000,000          9
₹20,000,000          8
4000000              7
5000000              7
₹40,000,000          6
250000               5
₹35,000,000          5
$100,000             4
300000               4
1500000              4
₹30,000,000          4
3000000              4
1100000              4
₹250,000,000         3
₹600,000,000         3
₹2,000,000,000       3
120000               3
30000000             3
$1,000,000           3
200000               3
₹70,000,000          3
400000               3
$1,500,000           3
₹100,000,000         3
₹10,000,000          3
$100,000,000         3
150000               3
₹5,000,000           3
1300000              3
$11,000,000          3
$2,000,000           3
₹140,000,000         3
$10,000,000          2
$900,000             2
₹650,000,000         2
$50,000,000          2
$5,000,000           2
15000000             2
$6,000,000           2
₹1,200,000           2
$3,000,000           2
1400000              2
₹72,000,000          2
₹150,000,000         2
₹135,000,000         2
50000                2
₹120,000,000         2
4200000              2
4500000              2
600000               2
₹12,000,000          2
3500000              2
₹2,500,000,000       2
₹60,000,000          2
50000000             2
₹25,000,000          2
₹1,000,000,000       2
100000               2
₹100,000             2
₹15,000,000          2
₹45,000,000          2
650000               2
₹12,500,000          2
6000000              2
₹550,000,000         2
₹16,000,000          2
₹400,000,000         2
1600000              2
₹240,000,000         2
₹64,000,000          2
$250,000             1
$37,680,000          1
$20,000              1
₹730,000,000         1
₹510,000,000         1
₹810,000,000         1
22000000             1
70000                1
₹1,130,000,000       1
₹2,200,000,000       1
₹580,000,000         1
$210,000,000         1
₹340,000,000         1
₹36,000,000          1
₹1,400,000,000       1
14900000             1
$3,300,000           1
$200,000             1
$3,530,000           1
₹1,410,000,000       1
$41,900,000          1
225000000            1
7500                 1
10000000             1
₹20,000,000,000      1
100000000            1
550000               1
80000000             1
2500000              1
750000               1
₹800,000,000         1
₹280,000,000         1
3700000              1
2700000              1
5600000              1
₹260,000,000         1
99230000             1
70000000             1
1760000              1
₹80,000,000          1
40000                1
75000000             1
₹264,000,000         1
₹2,029,600,000       1
210000000            1
₹210,000,000         1
365000000            1
₹8,750,000           1
700000               1
₹165,000,000         1
65000000             1
185000000            1
₹4,000,000,000       1
₹78,000,000          1
28000000             1
25000000             1
₹15,392,000,000      1
₹1,540,000,000       1
₹7,000,000           1
$1,100,000           1
₹102,500,000         1
₹1,600,000,000       1
$540,000,000         1
$3,240,000           1
₹44,000,000          1
$150,000             1
$23,000,000          1
$30,000,000          1
$2,400,000           1
$28,500,000          1
$35,000,000          1
$7,000,000           1
$1,000,000,000       1
$10,000              1
$3,980,000           1
$742,000,000         1
$143,145             1
₹342,000,000         1
₹34,000,000          1
20000                1
9000000              1
₹60,000              1
₹8,000,000           1
₹26,400,000          1
13400000             1
₹104,000,000         1
1700000              1
2800000              1
₹500,000             1
₹65,000,000          1
$14,000,000          1
₹5,200,000,000       1
$40,000,000          1
$800,000             1
12000000             1
₹32,000,000          1
17200000             1
₹34,900,000          1
130000               1
125000               1
₹33,000,000          1
₹16,600,000          1
₹200,000             1
1450000              1
175000               1
₹103,000,000         1
₹19,200,000          1
180000               1
1250000              1
₹140,200,000         1
13200000             1
₹22,500,000          1
₹1,400,000           1
364846               1
4300000              1
6830000              1
₹9,500,000           1
3600000              1
1800000              1
2200000              1
1200000              1
$15,000              1
$1,041,000           1
35000000             1
Name: count, dtype: int64

In [202]:
# Missing values in Amount Column

data_df_2018[data_df_2018['Amount'] == '—'].head()

,Company Name,Industry,Round/Series,Amount,Location,About Company
4,Eunimart,E-Commerce Platforms,Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants to create a difference by selling globally.
8,Freightwalla,Information Services,Seed,—,"Mumbai, Maharashtra, India",Freightwalla is an international forwarder thats helps you manage supply chain by providing online tools including instant quotations.
9,Microchip Payments,Mobile Payments,Seed,—,"Bangalore, Karnataka, India",Microchip payments is a mobile-based payment application and point-of-sale device
10,BizCrum Infotech Pvt. Ltd.,B2B,Seed,—,"Delhi, Delhi, India",Building Transactionary B2B Marketplaces
11,Emojifi,Internet,Seed,—,"Bengaluru, Karnataka, India","Emojifi is an app that provides live emoji, stickers & GIFs suggestions based on the typed words across chat platforms."

In [203]:
# Replace Values

data_df_2018['Amount'].replace("—", np.nan, inplace = True, regex=True)
data_df_2018['Amount'].replace("[,$]", "", inplace = True, regex=True)

In [204]:
# we must convert rupees to dollars
## create new columns to store INR values and $ values
## rsplit the 'Amount' using '₹' as the delimiter. We only want values with'₹' from the right.
data_df_2018['Amount (₹)'] = data_df_2018['Amount'].str.rsplit('₹', n = 2).str[1]

# Convert to float and fill any missing (NaN) values wit 0
data_df_2018['Amount (₹)'] = data_df_2018['Amount (₹)'].apply(float).fillna(0)

# Convert the INR values to USD
data_df_2018['Amount ($)'] = data_df_2018['Amount (₹)'] * 0.0146 # Average exchange rate in 2018

In [205]:
data_df_2018.tail()

,Company Name,Industry,Round/Series,Amount,Location,About Company,Amount (₹),Amount ($)
521,Udaan,B2B,Series C,225000000,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specifically for small and medium businesses in India.",0.00,0.00
522,Happyeasygo Group,Tourism,Series A,NaN,"Haryana, Haryana, India",HappyEasyGo is an online travel domain.,0.00,0.00
523,Mombay,Food and Beverage,Seed,7500,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives to start household food business and avail everyone with their homemade healthy dishes.,0.00,0.00
524,Droni Tech,Information Technology,Seed,₹35000000,"Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop software to service a range of industry requirements.,"35,000,000.00","511,000.00"
525,Netmeds,Biotechnology,Series C,35000000,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!,0.00,0.00

In [206]:
# Replace 0 values with np.nan in the converted rupee values
data_df_2018['Amount ($)'] = data_df_2018['Amount ($)'].replace(0, np.nan)

# Fill nan values in USD amount column with values in Amount column
data_df_2018['Amount ($)'] = data_df_2018['Amount ($)'].fillna(data_df_2018['Amount'])

# drop Amount column and INR column
data_df_2018.drop(['Amount','Amount (₹)'], axis = 1, inplace = True)

In [207]:
data_df_2018['Amount ($)']

0             250000
1         584,000.00
2         949,000.00
3            2000000
4                NaN
5            1600000
6         233,600.00
7         730,000.00
8                NaN
9                NaN
10               NaN
11               NaN
12               NaN
13               NaN
14               NaN
15      1,460,000.00
16            150000
17           1100000
18               NaN
19          7,300.00
20           6000000
21            650000
22        511,000.00
23        934,400.00
24               NaN
25               NaN
26           2000000
27           2000000
28           2000000
29               NaN
30        292,000.00
31           1000000
32               NaN
33            650000
34           1000000
35           5000000
36           4000000
37        438,000.00
38           1000000
39           2800000
40               NaN
41            150000
42        584,000.00
43           1000000
44           1700000
45               NaN
46           1300000
47           2000000
48               NaN
49         73,000.00
50        292,000.00
51        584,000.00
52        292,000.00
53           1000000
54        182,500.00
55        219,000.00
56            500000
57           5000000
58      1,518,400.00
59        657,000.00
60          13400000
61               NaN
62            500000
63               NaN
64        365,000.00
65               NaN
66        385,440.00
67               NaN
68               NaN
69        116,800.00
70            876.00
71           4000000
72           9000000
73               NaN
74            100000
75             20000
76               NaN
77           1000000
78               NaN
79           4000000
80            250000
81               NaN
82            120000
83        496,400.00
84               NaN
85      4,993,200.00
86            143145
87               NaN
88      8,760,000.00
89               NaN
90         742000000
91     14,600,000.00
92     29,200,000.00
93           3980000
94     29,200,000.00
95             10000
96               NaN
97     14,600,000.00
98          1,460.00
99      3,650,000.00
100    29,200,000.00
101       1000000000
102          7000000
103              NaN
104         35000000
105     8,030,000.00
106         28500000
107       438,000.00
108          2000000
109     3,504,000.00
110              NaN
111              NaN
112              NaN
113     1,752,000.00
114          2400000
115         30000000
116    36,500,000.00
117         23000000
118              NaN
119           150000
120              NaN
121              NaN
122         11000000
123       642,400.00
124          3240000
125              NaN
126       876,000.00
127    36,500,000.00
128              NaN
129              NaN
130        540000000
131     9,490,000.00
132    23,360,000.00
133              NaN
134           900000
135         10000000
136              NaN
137              NaN
138          1500000
139              NaN
140       730,000.00
141     1,022,000.00
142              NaN
143          1000000
144          5000000
145       233,600.00
146         14000000
147     1,496,500.00
148        100000000
149     8,030,000.00
150              NaN
151       292,000.00
152          2000000
153              NaN
154        17,520.00
155     3,650,000.00
156    75,920,000.00
157              NaN
158              NaN
159           800000
160          1041000
161           100000
162           100000
163              NaN
164         1,460.00
165              NaN
166            15000
167           500000
168          1400000
169          5000000
170          1200000
171       730,000.00
172              NaN
173          1000000
174              NaN
175          2200000
176           500000
177     1,460,000.00
178          2000000
179          1800000
180           500000
181              NaN
182           150000
183          3600000
184           500000
185       138,700.00
186              NaN
187           300000
188           500000
189          6830000
190          1400000
191           200000
192          2000000
193     2,190,000.00
194              NaN
195          1000000
196          4300000
197              NaN
198              NaN
199              NaN
200           300000
201              NaN
202           364846
203          4000000
204           500000
205           400000
206              NaN
207          1500000
208              NaN
209           120000
210       102,200.00
211        20,440.00
212              NaN
213           500000
214              NaN
215       730,000.00
216              NaN
217              NaN
218           500000
219          1000000
220       146,000.00
221       328,500.00
222        73,000.00
223         13200000
224              NaN
225              NaN
226              NaN
227           500000
228          1000000
229              NaN
230            50000
231       730,000.00
232           200000
233     2,046,920.00
234          3000000
235           400000
236          1100000
237           500000
238          1250000
239           180000
240       438,000.00
241       280,320.00
242     1,503,800.00
243              NaN
244       584,000.00
245          1000000
246          1500000
247          2000000
248              NaN
249          4200000
250           175000
251       511,000.00
252              NaN
253     1,460,000.00
254          1300000
255              NaN
256          1450000
257              NaN
258         2,920.00
259          1000000
260          4500000
261          1000000
262           500000
263           600000
264           250000
265          2000000
266              NaN
267          4500000
268       242,360.00
269       175,200.00
270          1000000
271              NaN
272         15000000
273       292,000.00
274           300000
275            50000
276       438,000.00
277              NaN
278              NaN
279              NaN
280              NaN
281              NaN
282              NaN
283       481,800.00
284           125000
285          4000000
286          1000000
287              NaN
288           130000
289           300000
290              NaN
291          1000000
292          2000000
293              NaN
294           250000
295       509,540.00
296              NaN
297              NaN
298     1,051,200.00
299       730,000.00
300              NaN
301              NaN
302           120000
303     1,752,000.00
304         17200000
305           600000
306              NaN
307              NaN
308       511,000.00
309       467,200.00
310           100000
311          1000000
312     3,650,000.00
313          3500000
314              NaN
315     1,971,000.00
316              NaN
317           250000
318          1100000
319          1000000
320              NaN
321          3000000
322              NaN
323              NaN
324              NaN
325          1500000
326          1600000
327           200000
328         12000000
329       219,000.00
330       292,000.00
331              NaN
332          1000000
333       146,000.00
334     1,971,000.00
335          3000000
336       730,000.00
337       292,000.00
338              NaN
339              NaN
340          4200000
341       934,400.00
342       730,000.00
343              NaN
344              NaN
345              NaN
346              NaN
347              NaN
349         10000000
350       584,000.00
351         40000000
352              NaN
353          1100000
354         50000000
355          1500000
356    22,484,000.00
357              NaN
358          3000000
359       657,000.00
360        100000000
361          1500000
362          6000000
363     2,044,000.00
364       876,000.00
365          3000000
366              NaN
367           100000
368        73,000.00
369         41900000
370         11000000
371              NaN
372        100000000
373    20,586,000.00
374              NaN
375          3530000
376     1,051,200.00
377           200000
378          3300000
379     3,504,000.00
380          1000000
381              NaN
382     8,468,000.00
383              NaN
384          2000000
385           100000
386          6000000
387       525,600.00
388     4,964,000.00
389        210000000
390       511,000.00
391     1,022,000.00
392         11000000
393              NaN
394       730,000.00
395     1,022,000.00
396          5000000
397         37680000
398              NaN
399         50000000
400          1000000
401           250000
402              NaN
403            20000
404           900000
405              NaN
406        17,520.00
407              NaN
408          5000000
409              NaN
410       584,000.00
411     7,446,000.00
412    32,120,000.00
413          5000000
414          1000000
415         22000000
416              NaN
417            70000
418              NaN
419         10000000
420   224,723,200.00
421   292,000,000.00
422    58,400,000.00
423          1000000
424       365,000.00
425        185000000
426     2,044,000.00
427              NaN
428              NaN
429              NaN
430              NaN
431              NaN
432              NaN
433          1000000
434         65000000
435          2000000
436              NaN
437     2,409,000.00
438     9,490,000.00
439              NaN
440           700000
441         30000000
442              NaN
443     3,066,000.00
444        210000000
445          4000000
446              NaN
447       292,000.00
448    29,632,160.00
449         75000000
450     8,760,000.00
451         30000000
452     1,168,000.00
453          1760000
454          2700000
455           400000
456     4,088,000.00
457    11,680,000.00
458           750000
459          2500000
460              NaN
461              NaN
462         80000000
463         25000000
464    10,658,000.00
465              NaN
466          3000000
467              NaN
468          3500000
469     5,840,000.00
470     8,760,000.00
471          1100000
472          3700000
473          1300000
474     2,044,000.00
475          5600000
476     3,796,000.00
477              NaN
478     2,190,000.00
479              NaN
480              NaN
481       175,200.00
482         99230000
483          1000000
484         70000000
485          1000000
486          2000000
487              NaN
488     5,840,000.00
489            40000
490           550000
491              NaN
492         50000000
493         50000000
494        365000000
495              NaN
496       127,750.00
497          1500000
498         30000000
499          5000000
500     1,138,800.00
501          4000000
502              NaN
503         28000000
504         15000000
505              NaN
506          5000000
507       182,500.00
508              NaN
509     3,854,400.00
510              NaN
511        100000000
512              NaN
513    16,498,000.00
514    11,826,000.00
515              NaN
516    20,440,000.00
517       146,000.00
518              NaN
519          6000000
520         14900000
521        225000000
522              NaN
523             7500
524       511,000.00
525         35000000
Name: Amount ($), dtype: object

In [208]:
data_df_2018.info()

<class 'pandas.core.frame.DataFrame'>
Index: 525 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   525 non-null    object
 1   Industry       495 non-null    object
 2   Round/Series   525 non-null    object
 3   Location       525 non-null    object
 4   About Company  525 non-null    object
 5   Amount ($)     377 non-null    object
dtypes: object(6)
memory usage: 28.7+ KB

In [209]:
# add a year column

data_df_2018['Year'] = 2018

In [210]:
data_df_2018['Location'].value_counts()

Location
Bangalore, Karnataka, India         101
Mumbai, Maharashtra, India           94
Bengaluru, Karnataka, India          55
Gurgaon, Haryana, India              52
New Delhi, Delhi, India              51
Pune, Maharashtra, India             20
Chennai, Tamil Nadu, India           19
Hyderabad, Andhra Pradesh, India     18
Delhi, Delhi, India                  16
Noida, Uttar Pradesh, India          15
Haryana, Haryana, India              11
Jaipur, Rajasthan, India              9
Ahmedabad, Gujarat, India             6
Kolkata, West Bengal, India           6
Bangalore City, Karnataka, India      5
Indore, Madhya Pradesh, India         4
India, Asia                           4
Kormangala, Karnataka, India          3
Ghaziabad, Uttar Pradesh, India       2
Kochi, Kerala, India                  2
Bhopal, Madhya Pradesh, India         2
Thane, Maharashtra, India             2
Jodhpur, Rajasthan, India             1
Powai, Assam, India                   1
Andheri, Maharashtra, India           1
Mylapore, Tamil Nadu, India           1
Kalpakkam, Tamil Nadu, India          1
Guntur, Andhra Pradesh, India         1
Coimbatore, Tamil Nadu, India         1
Worli, Maharashtra, India             1
Alleppey, Kerala, India               1
Chandigarh, Chandigarh, India         1
Guindy, Tamil Nadu, India             1
Uttar Pradesh, India, Asia            1
Trivandrum, Kerala, India             1
Ernakulam, Kerala, India              1
Kanpur, Uttar Pradesh, India          1
Kannur, Kerala, India                 1
Alwar, Rajasthan, India               1
Margão, Goa, India                    1
Belgaum, Karnataka, India             1
Kalkaji, Delhi, India                 1
Anand, Gujarat, India                 1
Kota, Rajasthan, India                1
Faridabad, Haryana, India             1
Cochin, Kerala, India                 1
Hubli, Karnataka, India               1
Azadpur, Delhi, India                 1
Mohali, Punjab, India                 1
Lucknow, Uttar Pradesh, India         1
Name: count, dtype: int64

In [211]:
# we want to simplify the location column
## Split values with a comma delimiter, select only the first element from the resulting list of substrings
## remove single quotes, since it is a string


data_df_2018['Location'] = data_df_2018['Location'].str.split(',').str[0].replace("'","",regex=True)

In [212]:
data_df_2018['Round/Series'].value_counts()

Round/Series
Seed                                                                                                       279
Series A                                                                                                    73
Angel                                                                                                       37
Venture - Series Unknown                                                                                    37
Series B                                                                                                    20
Series C                                                                                                    16
Debt Financing                                                                                              13
Private Equity                                                                                              10
Corporate Round                                                                                              8
Pre-Seed                                                                                                     6
Series E                                                                                                     5
Grant                                                                                                        4
Series D                                                                                                     3
Secondary Market                                                                                             3
Post-IPO Equity                                                                                              3
Undisclosed                                                                                                  2
Post-IPO Debt                                                                                                2
Non-equity Assistance                                                                                        1
Series H                                                                                                     1
https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593      1
Funding Round                                                                                                1
Name: count, dtype: int64

In [213]:
#replace missing/unkown values with np.nan

data_df_2018['Round/Series']=data_df_2018['Round/Series'].replace('Venture - Series Unknown',np.nan)
data_df_2018['Round/Series']=data_df_2018['Round/Series'].replace('https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593',np.nan)
data_df_2018['Round/Series']=data_df_2018['Round/Series'].replace('Undisclosed',np.nan)

In [214]:
# Rename Columns to match other Data tables
data_df_2018.rename(columns = {'Company Name': 'Company/Brand', 'Industry': 'Sector', 
                               'Round/Series':'Stage', 'Location': 'HeadQuarter', 'About Company':'What it does', 'Amount ($)': 'Amount($)'}, inplace=True)
data_df_2018.info()

<class 'pandas.core.frame.DataFrame'>
Index: 525 entries, 0 to 525
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  525 non-null    object
 1   Sector         495 non-null    object
 2   Stage          485 non-null    object
 3   HeadQuarter    525 non-null    object
 4   What it does   525 non-null    object
 5   Amount($)      377 non-null    object
 6   Year           525 non-null    int64
dtypes: int64(1), object(6)
memory usage: 32.8+ KB

### 2019 Data Cleaning

In [215]:
data_df_2019 = pd.read_csv('startup_funding2019.csv')
data_df_2019.tail()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
84,Infra.Market,NaN,Mumbai,Infratech,"It connects client requirements to their supply chain infrastructure for ease of ordering, tracking and manufacturing","Aaditya Sharda, Souvik Sengupta","Tiger Global, Nexus Venture Partners, Accel Partners, Dhruv Agarwala","$20,000,000",Series A
85,Oyo,"2,013.00",Gurugram,Hospitality,Provides rooms for comfortable stay,Ritesh Agarwal,"MyPreferred Transformation, Avendus Finance, SoftBank","$693,000,000",NaN
86,GoMechanic,"2,016.00",Delhi,Automobile & Technology,Find automobile repair and maintenance service providers,"Amit Bhasin, Kushal Karwa, Nitin Rana, Rishabh Karwa",Sequoia Capital,"$5,000,000",Series B
87,Spinny,"2,015.00",Delhi,Automobile,Online car retailer,"Niraj Singh, Ramanshu Mahaur, Ganesh Pawar, Mohit Gupta","Norwest Venture Partners, General Catalyst, Fundamentum, Accel Partners","$50,000,000",NaN
88,Ess Kay Fincorp,NaN,Rajasthan,Banking,Organised Non-Banking Finance Company,Rajendra Setia,"TPG, Norwest Venture Partners, Evolvence India","$33,000,000",NaN

In [216]:
data_df_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

In [217]:
# check duplicates

data_df_2019.duplicated().sum()

0

In [218]:
# drop columns

data_df_2019.drop(['Founded', 'Founders', 'Investor'], axis = 1, inplace = True)

In [219]:
# add year column

data_df_2019['Year']=2019

In [220]:
data_df_2019['Amount($)'].value_counts()

Amount($)
Undisclosed     12
$5,000,000       6
$1,500,000       4
$6,000,000       4
$1,000,000       4
$30,000,000      3
$20,000,000      3
$50,000,000      3
$4,000,000       3
$5,500,000       3
$26,000,000      2
$2,000,000       2
$12,000,000      2
$100,000         2
$5,700,000       1
$693,000,000     1
$4,800,000       1
$120,000,000     1
$311,000,000     1
$6,800,000       1
$36,000,000      1
$2,800,000       1
$220,000         1
$600,000         1
$7,000,000       1
$2,100,000       1
$70,000,000      1
$60,000,000      1
$8,000,000       1
$25,000,000      1
$6,300,000       1
$100,000,000     1
$11,000,000      1
$28,000,000      1
$275,000,000     1
$22,000,000      1
$140,500         1
$540,000,000     1
$15,000,000      1
$182,700         1
$15,500,000      1
$400,000         1
$2,500,000       1
$140,000         1
$230,000,000     1
$49,400,000      1
$32,000,000      1
$150,000,000     1
$150,000         1
$33,000,000      1
Name: count, dtype: int64

In [221]:
# Replace values

data_df_2019['Amount($)'].replace('Undisclosed', np.nan, inplace = True, regex=True)
data_df_2019['Amount($)'].replace("[,$]", "", inplace = True, regex=True)

In [222]:
data_df_2019['HeadQuarter'].unique()

array([nan, 'Mumbai', 'Chennai', 'Telangana', 'Pune', 'Bangalore',
       'Noida', 'Delhi', 'Ahmedabad', 'Gurugram', 'Haryana', 'Chandigarh',
       'Jaipur', 'New Delhi', 'Surat', 'Uttar pradesh', 'Hyderabad',
       'Rajasthan'], dtype=object)

In [226]:
data_df_2019['Sector'].value_counts()

Sector
Edtech                          7
Fintech                         5
AgriTech                        4
Technology                      4
SaaS                            4
Automobile                      3
E-commerce                      3
Logistics                       3
Food                            2
Foodtech                        2
Accomodation                    2
Automotive tech                 2
IoT                             2
AI                              2
E-marketplace                   2
Ecommerce                       1
Cybersecurity                   1
Mutual Funds                    1
Food & tech                     1
Legal tech                      1
Sports                          1
B2B Supply Chain                1
Healthtech                      1
Yoga & wellness                 1
Virtual Banking                 1
Transportation                  1
Transport & Rentals             1
Marketing & Customer loyalty    1
Infratech                       1
Hospitality                     1
Automobile & Technology         1
Games                           1
Food & Nutrition                1
Jewellery                       1
Safety tech                     1
Interior design                 1
AI & Tech                       1
E-commerce & AR                 1
HR tech                         1
Food tech                       1
Health                          1
Healthcare                      1
Pharmaceutical                  1
B2B                             1
Insurance technology            1
Robotics & AI                   1
Travel                          1
Manufacturing                   1
Social Media                    1
E-Sports                        1
Cosmetics                       1
Banking                         1
Name: count, dtype: int64

In [227]:
# Fix some structural errors (done through observation and individual inspection)

data_df_2018['Sector'].replace('Ecommerce','E-commerce',inplace =True, regex=True)
data_df_2018['Sector'].replace('Food & tech','Foodtech',inplace =True, regex=True)
data_df_2018['Sector'].replace('Food tech','Foodtech',inplace =True, regex=True)

In [228]:
data_df_2019['Stage'].value_counts()

Stage
Series A         10
Pre series A      8
Series B          8
Series D          4
Series C          3
Fresh funding     1
Series G          1
Post series A     1
Seed funding      1
Seed fund         1
Series E          1
Series F          1
Series B+         1
Seed round        1
Pre-series A      1
Name: count, dtype: int64

In [229]:
# Fix some structural errors 

data_df_2018['Stage'].replace('Pre-series A','Pre series A',inplace =True, regex=True)
data_df_2018['Stage'].replace('Seed fund','Seed',inplace =True, regex=True)
data_df_2018['Stage'].replace('Seed funding','Seed',inplace =True, regex=True)
data_df_2018['Stage'].replace('Seed round','Seed',inplace =True, regex=True)

In [230]:
#Merge 2018 and 2019 Data

data_new = pd.concat([data_df_2018, data_df_2019], ignore_index=True)
data_new.tail()

,Company/Brand,Sector,Stage,HeadQuarter,What it does,Amount($),Year
609,Infra.Market,Infratech,Series A,Mumbai,"It connects client requirements to their supply chain infrastructure for ease of ordering, tracking and manufacturing",20000000,2019
610,Oyo,Hospitality,NaN,Gurugram,Provides rooms for comfortable stay,693000000,2019
611,GoMechanic,Automobile & Technology,Series B,Delhi,Find automobile repair and maintenance service providers,5000000,2019
612,Spinny,Automobile,NaN,Delhi,Online car retailer,50000000,2019
613,Ess Kay Fincorp,Banking,NaN,Rajasthan,Organised Non-Banking Finance Company,33000000,2019

In [231]:
data_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  614 non-null    object
 1   Sector         579 non-null    object
 2   Stage          528 non-null    object
 3   HeadQuarter    595 non-null    object
 4   What it does   614 non-null    object
 5   Amount($)      454 non-null    object
 6   Year           614 non-null    int64
dtypes: int64(1), object(6)
memory usage: 33.7+ KB

### 2020 Data Cleaning

In [241]:
data_df_2020 = pd.read_csv('LP1_startup_funding2020.csv')
data_df_2020.tail()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
1050,Leverage Edu,NaN,Delhi,Edtech,AI enabled marketplace that provides career guidance,Akshay Chaturvedi,"DSG Consumer Partners, Blume Ventures","1,500,000.00",NaN,NaN
1051,EpiFi,NaN,NaN,Fintech,It offers customers with a single interface for all their financial and banking mandates,"Sujith Narayanan, Sumit Gwalani","Sequoia India, Ribbit Capital","13,200,000.00",Seed Round,NaN
1052,Purplle,"2,012.00",Mumbai,Cosmetics,Online makeup and beauty products retailer,"Manish Taneja, Rahul Dash",Verlinvest,"8,000,000.00",NaN,NaN
1053,Shuttl,"2,015.00",Delhi,Transport,App based bus aggregator serice,"Amit Singh, Deepanshu Malviya",SIG Global India Fund LLP.,"8,043,000.00",Series C,NaN
1054,Pando,"2,017.00",Chennai,Logitech,Networked logistics management software,"Jayakrishnan, Abhijeet Manohar",Chiratae Ventures,"9,000,000.00",Series A,NaN

In [242]:
data_df_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
dtypes: float64(2), object(8)
memory usage: 82.6+ KB

In [243]:
# check duplicates

data_df_2020.duplicated().sum()

3

In [244]:
# show all occurences of duplicated rows

data_df_2020[data_df_2020.duplicated(keep=False)]

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
120,Nykaa,"2,012.00",Mumbai,Cosmetics,Nykaa is an online marketplace for different beauty and wellness products.,Falguni Nayar,"Alia Bhatt, Katrina Kaif",NaN,NaN,NaN
129,Krimanshi,"2,015.00",Jodhpur,Biotechnology company,Krimanshi aims to increase rural income by improving the productivity of Indian cattle with better quality feed.,Nikhil Bohra,"Rajasthan Venture Capital Fund, AIM Smart City","600,000.00",Seed,NaN
145,Krimanshi,"2,015.00",Jodhpur,Biotechnology company,Krimanshi aims to increase rural income by improving the productivity of Indian cattle with better quality feed.,Nikhil Bohra,"Rajasthan Venture Capital Fund, AIM Smart City","600,000.00",Seed,NaN
205,Nykaa,"2,012.00",Mumbai,Cosmetics,Nykaa is an online marketplace for different beauty and wellness products.,Falguni Nayar,"Alia Bhatt, Katrina Kaif",NaN,NaN,NaN
326,Byju’s,"2,011.00",Bangalore,EdTech,An Indian educational technology and online tutoring firm,Byju Raveendran,"Owl Ventures, Tiger Global Management","500,000,000.00",NaN,NaN
362,Byju’s,"2,011.00",Bangalore,EdTech,An Indian educational technology and online tutoring firm,Byju Raveendran,"Owl Ventures, Tiger Global Management","500,000,000.00",NaN,NaN

In [245]:
# Drop duplicates

data_df_2020.drop_duplicates(inplace = True)

In [246]:
# drop columns

data_df_2020.drop(['Founded', 'Founders', 'Investor', 'column10'], axis=1, inplace=True)

In [247]:
# add year column

data_df_2020['Year']=2020

In [248]:
# Rename Columns to match other Data
data_df_2020.rename(columns = {'Company_Brand': 'Company/Brand', 'What_it_does': 'What it does',
                                'Amount': 'Amount($)'}, inplace=True)

In [249]:
data_df_2020['HeadQuarter'].value_counts()

HeadQuarter
Bangalore                                                   316
Mumbai                                                      164
Gurugram                                                     79
Delhi                                                        62
Chennai                                                      43
New Delhi                                                    36
Pune                                                         36
Noida                                                        32
Hyderabad                                                    25
Gurgaon                                                      21
Ahmedabad                                                    11
Kolkata                                                      11
Haryana                                                      10
Indore                                                        8
Jaipur                                                        6
Kochi                                                         5
Thane                                                         5
Gujarat                                                       5
California                                                    5
Singapore                                                     4
Jaipur, Rajastan                                              3
San Francisco                                                 3
Jodhpur                                                       3
Kerala                                                        3
Chandigarh                                                    3
San Francisco, California, United States                      2
Goa                                                           2
London, England, United Kingdom                               2
San Francisco Bay Area, Silicon Valley, West Coast            2
Bengaluru                                                     2
Andheri                                                       2
New York, United States                                       2
San Francisco, United States                                  1
Tirunelveli, Tamilnadu                                        1
Tangerang, Jawa Barat, Indonesia                              1
Berlin                                                        1
Seattle                                                       1
Riyadh                                                        1
Seoul                                                         1
New York                                                      1
Bangkok                                                       1
Kanpur                                                        1
Warangal                                                      1
Dehradun                                                      1
Hyderebad                                                     1
Odisha                                                        1
Bihar                                                         1
Belgaum                                                       1
Tamil Nadu                                                    1
Uttar Pradesh                                                 1
Bhopal                                                        1
Banglore                                                      1
Coimbatore                                                    1
San Franciscao                                                1
Ludhiana                                                      1
San Ramon, California                                         1
Frisco, Texas, United States                                  1
Paris, Ile-de-France, France                                  1
Plano, Texas, United States                                   1
Sydney                                                        1
Patna                                                         1
Bangaldesh                                                    1
Dhingsara, Haryana                                            1
Milano, Lombardia, Italy                                      1
Palmwoods, Queensland, Australia                              1
France                                                        1
San Francisco Bay Area, West Coast, Western US                1
Trivandrum, Kerala, India                                     1
Cochin                                                        1
Samastipur, Bihar                                             1
Irvine, California, United States                             1
Tumkur, Karnataka                                             1
Newcastle Upon Tyne, Newcastle upon Tyne, United Kingdom      1
Shanghai, China                                               1
Jiaxing, Zhejiang, China                                      1
Rajastan                                                      1
Sydney, New South Wales, Australia                            1
Name: count, dtype: int64

In [250]:
# we want to simplify some of the values the HeadQuarter column
## Split values with a comma delimiter; select only the first element from the resulting list of substrings
## remove single quotes, since it is a string

data_df_2020['HeadQuarter'] = data_df_2020['HeadQuarter'].str.split(',').str[0].str.replace("'", "", regex=True)

In [251]:
# Fix some structural errors

data_df_2020['HeadQuarter'].replace('Hyderebad','Hyderabad',inplace =True, regex=True)
data_df_2020['HeadQuarter'].replace('San Francisco Bay Area',
                                    'San Francisco',inplace =True, regex=True)
data_df_2020['HeadQuarter'].replace('San Franciscao','San Francisco',inplace =True, regex=True)
data_df_2020['HeadQuarter'].replace('Banglore','Bangalore',inplace =True, regex=True)
data_df_2020['HeadQuarter'].replace('Hyderebad','Hyderabad',inplace =True, regex=True)

In [252]:
data_df_2020['Sector'].unique()

array(['AgriTech', 'EdTech', 'Hygiene management', 'Escrow',
       'Networking platform', 'FinTech', 'Crowdsourcing',
       'Food & Bevarages', 'HealthTech', 'Fashion startup',
       'Food Industry', 'Food Delivery', 'Virtual auditing startup',
       'E-commerce', 'Gaming', 'Work fulfillment', 'AI startup',
       'Telecommunication', 'Logistics', 'Tech Startup', 'Sports',
       'Retail', 'Medtech', 'Tyre management', 'Cloud company',
       'Software company', 'Venture capitalist', 'Renewable player',
       'IoT startup', 'SaaS startup', 'Aero company', 'Marketing company',
       'Retail startup', 'Co-working Startup', 'Finance company',
       'Tech company', 'Solar Monitoring Company',
       'Video sharing platform', 'Gaming startup',
       'Video streaming platform', 'Consumer appliances',
       'Blockchain startup', 'Conversational AI platform', 'Real Estate',
       'SaaS platform', 'AI platform', 'Fusion beverages', 'HR Tech',
       'Job portal', 'Hospitality', 'Digital Media', 'Dairy startup',
       'Content management', 'Spacetech', 'Transportation',
       'Trading platform', 'AI Company', 'Photonics startup',
       'Entertainment', 'Cosmetics', 'Scanning app', 'Skincare startup',
       'Food and Beverages', 'Biotechnology company', 'FoodTech',
       'Proptech', 'CleanTech', 'Fitness startup', 'Healthcare',
       'PaaS startup', 'Beverages', 'Social Media', 'Automobiles',
       'Deeptech', 'EV startup', 'AR/VR startup', 'Recruitment startup',
       'QSR startup', 'Video platform', 'Edtech', 'Fertility tech',
       'Luxury car startup', 'FM', 'Food', 'Nutrition sector',
       'Tech platform', 'Video', 'Retail Tech', 'HeathTech',
       'Sles and marketing', 'LegalTech', 'Car Service',
       'Bike marketplace', 'Agri tech', 'Reatil startup', 'AR platform',
       'Consumer Goods', 'Content marketplace', 'Interior Design',
       'Rental space', 'Soil-Tech', 'Ayurveda tech',
       'Packaging solution startup', 'Cleantech', 'Sanitation solutions',
       'HealthCare', 'Home Design', 'InsureTech', 'AI Startup',
       'Solar solution', 'Jewellery startup',
       'Multinational conglomerate company', 'Deeptech startup',
       'Social Network', 'Publication', 'Tech', 'Fashion', 'Finance',
       'Venture capital', 'Entreprenurship', 'Food devlivery',
       'Warehouse', 'Online financial service', 'Eyeglasses',
       'Battery design', 'Online credit management startup', 'Beverage',
       'TravelTech', 'Agriculture', 'Startup laboratory',
       'Personal care startup', 'Customer service company',
       'SaaS\xa0\xa0startup', 'Marketing startup', 'Service industry',
       'Social media', 'AI', 'Jewellery', 'AR startup', 'HR Tech startup',
       'Automotive Startup', 'Food Startup', 'EdTech Startup',
       'Car Trade', 'EdtTech', 'Manufacturing', 'AI Platform',
       'Automation', 'Solar SaaS', 'WL & RAC protection',
       'Social commerce', 'Home interior services', 'Agritech startup',
       'API platform', 'Deep Tech', 'Electricity', 'Automotive company',
       'FMCG', 'Insurance Tech', 'Video personalization',
       'Software Company', 'Biomaterial startup', 'Health', 'IT',
       'Craft Beer', 'Healthtech', 'Education', 'Investment',
       'Linguistic Spiritual', 'Construction', 'Battery manufacturer',
       'Nano Distribution Network', 'AI health', 'Dating app', 'Media',
       'Fintech', 'Healthcare/Edtech', 'Social Commerce',
       'Agritech/Commerce', 'Mobility tech', 'Social e-commerce',
       'Food & Logistics', 'SpaceTech', 'Nutrition Tech', 'HR', 'IoT',
       nan, 'Agritech', 'Interior design', 'Foodtech', 'AR/VR',
       'Appliance', 'HR tech', 'Food tech', 'Mental Health', 'Ecommerce',
       'Solar Solution', 'SaaS', 'Automobile', 'B2B marketplace',
       'Fashion Tech', 'Nutrition tech', 'Health & Wellness',
       'Cloud Kitchen', 'IoT/Automobile', 'Eye Wear', 'Digital tech',
       'Data Intelligence', 'Co-living', 'Food & Beverages', 'Automotive',
       'B2B', 'Defense tech', 'Marketplace', 'Construction tech',
       'Nutrition', 'Coworking', 'Micro-mobiity', 'Auto-tech', 'Beauty',
       'Robotics', 'Yoga & wellness', 'Logitech', 'Med Tech',
       'Life sciences', 'Retail Aggregator', 'Deep Tech AI', 'Biotech',
       'Blockchain', 'HrTech', 'Mobility/Transport', 'Travel', 'Rental',
       'AI & Debt', 'SaaS/Edtech', 'Transport', 'Co-working', 'Insurtech',
       'Cryptocurrency', 'Automotive tech', 'Legal', 'Fitness', 'EV',
       'Supply chain, Agritech', 'Pharma', 'Insurance technology',
       'Foodtech & Logistics', 'Housing', 'Pharmaceutical',
       'Data Analytics', 'Investment Tech', 'Financial Services',
       'Biopharma', 'Dairy', 'Beauty & wellness', 'Travel & SaaS',
       'Tourism & EV', 'Media Tech', 'Location Analytics', 'E store',
       'Data Science', 'Insurance', 'Health and Fitness', 'Technology',
       'Interior & decor', 'eMobility', 'Automation tech',
       'Media & Networking', 'E-market', 'AI & Data science',
       'Travel tech', 'Automotive and Rentals', 'E-tail', 'Accomodation',
       'AI & Media', 'Machine Learning', 'Content Marktplace',
       'Visual Media', 'Hygiene', 'VR & SaaS', 'Sales & Services',
       'AI & Deep learning', 'Housing & Rentals', 'Estore', 'Marketing',
       'E tailor', 'E-mobility', 'Ad-tech', 'Neo-banking',
       'Transport Automation', 'Techonology', 'Transport & Rentals',
       'AI Robotics', 'Preschool Daycare', 'Food diet', 'B2B Agritech',
       'E-connect', 'Tech hub', 'Consultancy', 'Pharmacy', 'Deisgning',
       'Taxation', 'Automobile Technology'], dtype=object)

In [253]:
data_df_2020[data_df_2020['Sector'] == 'Supply chain, Agritech']

,Company/Brand,HeadQuarter,Sector,What it does,Amount($),Stage,Year
705,Intello Labs,Gurugram,"Supply chain, Agritech",Standardisation and Quality control of fruits & vegetables,"5,900,000.00",Series A,2020

In [254]:
# Fix some structural errors (manual observation)

data_df_2020['Sector'].replace('AI startup','AI',inplace =True, regex=True)
data_df_2020['Sector'].replace('AI Startup','AI',inplace =True, regex=True)
data_df_2020['Sector'].replace('AI Company','AI',inplace =True, regex=True)
data_df_2020['Sector'].replace('AR/VR startup','AR/VR',inplace =True, regex=True)
data_df_2020['Sector'].replace('Agri tech','AgriTech',inplace =True, regex=True)
data_df_2020['Sector'].replace('Agritech','AgriTech',inplace =True, regex=True)
data_df_2020['Sector'].replace('Agritech startup','AgriTech',inplace =True, regex=True)
data_df_2020['Sector'].replace('Agritech/Commerce','AgriTech',inplace =True, regex=True)
data_df_2020['Sector'].replace('Automobiles','Automobile',inplace =True, regex=True)
data_df_2020['Sector'].replace('Automotive Startup','Automotive company',inplace =True, regex=True)
data_df_2020['Sector'].replace('Beverages','Beverage',inplace =True, regex=True)
data_df_2020['Sector'].replace('Biotechnology company','Biotech',inplace =True, regex=True)
data_df_2020['Sector'].replace('Blockchain startup','Blockchain',inplace =True, regex=True)
data_df_2020['Sector'].replace('Co-working Startup','Co-working',inplace =True, regex=True)
data_df_2020['Sector'].replace('Coworking','Co-working',inplace =True, regex=True)
data_df_2020['Sector'].replace('Content marketplace','Content Marktplace',inplace =True, regex=True)
data_df_2020['Sector'].replace('Deep Tech','Deeptech',inplace =True, regex=True)
data_df_2020['Sector'].replace('EV','EV startup',inplace =True, regex=True)
data_df_2020['Sector'].replace('Ecommerce','E-commerce',inplace =True, regex=True)
data_df_2020['Sector'].replace('EdTech Startup','EdTech',inplace =True, regex=True)
data_df_2020['Sector'].replace('EdtTech','EdTech',inplace =True, regex=True)
data_df_2020['Sector'].replace('Edtech','EdTech',inplace =True, regex=True)
data_df_2020['Sector'].replace('Fintech','FinTech',inplace =True, regex=True)
data_df_2020['Sector'].replace('Food devlivery','Food delivery',inplace =True, regex=True)
data_df_2020['Sector'].replace('Food diet','FoodTech',inplace =True, regex=True)
data_df_2020['Sector'].replace('Food tech','FoodTech',inplace =True, regex=True)
data_df_2020['Sector'].replace('Foodtech','FoodTech',inplace =True, regex=True)
data_df_2020['Sector'].replace('HR tech','HR Tech',inplace =True, regex=True)
data_df_2020['Sector'].replace('HR Tech startup','HR Tech',inplace =True, regex=True)
data_df_2020['Sector'].replace('Healthtech','HealthTech',inplace =True, regex=True)
data_df_2020['Sector'].replace('HeathTech','HealthTech',inplace =True, regex=True)
data_df_2020['Sector'].replace('Insurtech','InsureTech',inplace =True, regex=True)
data_df_2020['Sector'].replace('Insurance technology','InsureTech',inplace =True, regex=True)
data_df_2020['Sector'].replace('IoT startup','IoT',inplace =True, regex=True)
data_df_2020['Sector'].replace('Nutrition tech','Nutrition Tech',inplace =True, regex=True)
data_df_2020['Sector'].replace('Reatil startup','Retail startup',inplace =True, regex=True)
data_df_2020['Sector'].replace('SaaS startup','SaaS',inplace =True, regex=True)
data_df_2020['Sector'].replace('SaaS  startup','SaaS',inplace =True, regex=True)
data_df_2020['Sector'].replace('Sles and marketing','Sales and marketing',inplace =True, regex=True)
data_df_2020['Sector'].replace('Social media','Social Media',inplace =True, regex=True)
data_df_2020['Sector'].replace('Software company','Software Company',inplace =True, regex=True)
data_df_2020['Sector'].replace('Solar solution','Solar Solution',inplace =True, regex=True)
data_df_2020['Sector'].replace('Spacetech','SpaceTech',inplace =True, regex=True)
data_df_2020['Sector'].replace('Supply chain, Agritech','Supply chain',inplace =True, regex=True)
data_df_2020['Sector'].replace('Tech company','Tech Startup',inplace =True, regex=True)
data_df_2020['Sector'].replace('Travel tech','TravelTech',inplace =True, regex=True)

In [255]:
# values in amount column

data_df_2020['Amount($)'] = data_df_2020['Amount($)'].astype(str)
data_df_2020['Amount($)'].unique()

array(['200000.0', '100000.0', 'nan', '400000.0', '340000.0', '600000.0',
       '45000000.0', '1000000.0', '2000000.0', '1200000.0', '660000000.0',
       '120000.0', '7500000.0', '5000000.0', '500000.0', '3000000.0',
       '10000000.0', '145000000.0', '100000000.0', '21000000.0',
       '4000000.0', '20000000.0', '560000.0', '275000.0', '4500000.0',
       '15000000.0', '390000000.0', '7000000.0', '5100000.0',
       '700000000.0', '2300000.0', '700000.0', '19000000.0', '9000000.0',
       '40000000.0', '750000.0', '1500000.0', '7800000.0', '50000000.0',
       '80000000.0', '30000000.0', '1700000.0', '2500000.0', '40000.0',
       '33000000.0', '35000000.0', '300000.0', '25000000.0', '3500000.0',
       '200000000.0', '6000000.0', '1300000.0', '4100000.0', '575000.0',
       '800000.0', '28000000.0', '18000000.0', '3200000.0', '900000.0',
       '250000.0', '4700000.0', '75000000.0', '8000000.0', '121000000.0',
       '55000000.0', '3300000.0', '11000000.0', '16000000.0', '5400000.0',
       '150000000.0', '4200000.0', '22000000.0', '52000000.0',
       '1100000.0', '118000000.0', '1600000.0', '18500000.0',
       '70000000000.0', '800000000.0', '400000000.0', '150000.0',
       '176000000.0', '60000000.0', '470000.0', '240000.0',
       '3000000000.0', '74000000.0', '62000000.0', '2100000.0',
       '500000000.0', '12500000.0', '2200000000.0', '5060000.0',
       '225000000.0', '24700000.0', '7700000.0', '19067328.0',
       '51000000.0', '115000.0', '54000.0', '20000.0', '803146.0',
       '238000.0', '10220000.0', '1020000.0', '12000000.0', '13400000.0',
       '170000000.0', '2900000.0', '543000.0', '90000000.0', '3400000.0',
       '23000000.0', '8090000.0', '1030000.0', '5040000.0', '360000.0',
       '1400000.0', '650000.0', '54000000.0', '42500000.0', '11370000.0',
       '325000.0', '410000.0', '450000.0', '682000.0', '4050000.0',
       '1050000.0', '1080000.0', '4300000.0', '6800000.0', '2110000.0',
       '764000.0', '603000.0', '409000.0', '292000.0', '286000.0',
       '136000.0', '546000.0', '887000.0', '43000.0', '40900.0',
       '2200000.0', '5660000.0', '350000.0', '110000.0', '122000000.0',
       '11635000.0', '2800000.0', '1065000.0', '669000.0', '16076000.0',
       '649600.0', '6700000.0', '220000.0', '266500.0', '2879000.0',
       '26500000.0', '351000.0', '46761000.0', '175000.0', '11241000.0',
       '804000.0', '1340000.0', '467000.0', '133000.0', '3823000.0',
       '934000.0', '293000.0', '198000.0', '927000.0', '971000.0',
       '3060000.0', '1862000.0', '232000.0', '2888000.0', '1328000.0',
       '15500000.0', '56000000.0', '2250000.0', '16753000.0', '3700000.0',
       '1470000.0', '530000.0', '267000.0', '3344000.0', '7200000.0',
       '2743000.0', '6082000.0', '6609000.0', '27700000.0', '5940000.0',
       '3964000.0', '5500000.0', '197000.0', '4327000.0', '459000.0',
       '3937000.0', '1313500.0', '229800.0', '5305000.0', '264000.0',
       '1750000.0', '5967000.0', '2980000.0', '323000.0', '1326000.0',
       '27000000.0', '5200000.0', '2530000.0', '792000.0', '11363000.0',
       '1715000.0', '329000.0', '5271000.0', '8700000.0', '3226000.0',
       '5900000.0', '44000000.0', '3879000.0', '13000000.0', '8800000.0',
       '9500000.0', '920000.0', '35600000.0', '9400000.0', '790000.0',
       '480000.0', '160000.0', '8200000.0', '4257000.0', '1410000.0',
       '349800.0', '786000.0', '2004000.0', '123000000.0', '248000.0',
       '24000000.0', '14259000.0', '24500000.0', '3800000.0',
       '18370000.0', '68525000.0', '4800000.0', '1834000.0', '23850000.0',
       '43000000.0', '21600000.0', '4598000.0', '13137000.0',
       '115000000.0', '3900000.0', '670000.0', '8500000.0', '3148000.0',
       '2600000.0', '4049500.0', '10500000.0', '6500000.0', '43700000.0',
       '13800000.0', '306900.0', '420000.0', '627300.0', '113000000.0',
       '32000000.0', '110000000.0', '1397000.0', '448500.0', '7975700.0',
       '330000.0', '5600000.0', '1402000.0', '21500000.0', '296000000.0',
       '4900000.0', '1402400.0', '12618300.0', '9900000.0', '982530.0',
       '70185200.0', '210000000.0', '84000000.0', '39000000.0',
       '2700000.0', '1403400.0', '105000000.0', '103000000.0', '281300.0',
       '12700.0', '25000.0', '97500000.0', '507000.0', '8400000.0',
       '18300000.0', '125000000.0', '181000.0', '280000.0', '14700000.0',
       '13200000.0', '8043000.0'], dtype=object)

In [256]:
data_df_2020["Amount($)"].replace("nan", np.nan, inplace = True, regex=True)

In [257]:
data_df_2020['Stage'].unique()

array([nan, 'Pre-seed', 'Seed', 'Pre-series A', 'Pre-series', 'Series C',
       'Series A', 'Series B', 'Debt', 'Pre-series C', 'Pre-series B',
       'Series E', 'Bridge', 'Series D', 'Series B2', 'Series F',
       'Pre- series A', 'Edge', 'Series H', 'Pre-Series B', 'Seed A',
       'Series A-1', 'Seed Funding', 'Pre-Seed', 'Seed round',
       'Pre-seed Round', 'Seed Round & Series A', 'Pre Series A',
       'Pre seed Round', 'Angel Round', 'Pre series A1', 'Series E2',
       'Pre series A', 'Seed Round', 'Bridge Round', 'Pre seed round',
       'Pre series B', 'Pre series C', 'Seed Investment', 'Series D1',
       'Mid series', 'Series C, D', 'Seed funding'], dtype=object)

In [258]:
# Fix some structural errors 

data_df_2020['Stage'].replace('Bridge Round','Bridge',inplace =True, regex=True)
data_df_2020['Stage'].replace('Pre seed round','Pre seed Round',inplace =True, regex=True)
data_df_2020['Stage'].replace('Pre series A','Pre Series A',inplace =True, regex=True)
data_df_2020['Stage'].replace('Pre- series A','Pre Series A',inplace =True, regex=True)
data_df_2020['Stage'].replace('Pre-seed','Pre-Seed',inplace =True, regex=True)
data_df_2020['Stage'].replace('Pre-series A','Pre Series A',inplace =True, regex=True)
data_df_2020['Stage'].replace('Pre series B','Pre Series B',inplace =True, regex=True)
data_df_2020['Stage'].replace('Pre-Series B','Pre Series B',inplace =True, regex=True)
data_df_2020['Stage'].replace('Pre-series B','Pre Series B',inplace =True, regex=True)
data_df_2020['Stage'].replace('Pre series C','Pre Series C',inplace =True, regex=True)
data_df_2020['Stage'].replace('Pre-series C','Pre Series C',inplace =True, regex=True)
data_df_2020['Stage'].replace('Seed A','Seed',inplace =True, regex=True)
data_df_2020['Stage'].replace('Seed Funding','Seed',inplace =True, regex=True)
data_df_2020['Stage'].replace('Seed Round','Seed',inplace =True, regex=True)
data_df_2020['Stage'].replace('Seed round','Seed',inplace =True, regex=True)
data_df_2020['Stage'].replace('Seed funding','Seed',inplace =True, regex=True)
data_df_2020['Stage'].replace('Seed Investment','Seed',inplace =True, regex=True)

In [259]:
data_df_2020['Stage'].unique()

array([nan, 'Pre-Seed', 'Seed', 'Pre Series A', 'Pre-series', 'Series C',
       'Series A', 'Series B', 'Debt', 'Pre Series C', 'Pre Series B',
       'Series E', 'Bridge', 'Series D', 'Series B2', 'Series F', 'Edge',
       'Series H', 'Series A-1', 'Seed & Series A', 'Pre seed Round',
       'Angel Round', 'Pre Series A1', 'Series E2', 'Series D1',
       'Mid series', 'Series C, D'], dtype=object)

In [260]:
data_df_2020.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1052 entries, 0 to 1054
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  1052 non-null   object
 1   HeadQuarter    958 non-null    object
 2   Sector         1039 non-null   object
 3   What it does   1052 non-null   object
 4   Amount($)      799 non-null    object
 5   Stage          590 non-null    object
 6   Year           1052 non-null   int64
dtypes: int64(1), object(6)
memory usage: 65.8+ KB

### 2021 Data Cleaning

In [261]:
data_df_2021 = pd.read_csv('LP1_startup_funding2021.csv')
data_df_2021.tail()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
1204,Gigforce,"2,019.00",Gurugram,Staffing & Recruiting,A gig/on-demand staffing company.,"Chirag Mittal, Anirudh Syal",Endiya Partners,$3000000,Pre-series A
1205,Vahdam,"2,015.00",New Delhi,Food & Beverages,VAHDAM is among the world’s first vertically integrated online-first tea brands.,Bala Sarda,IIFL AMC,$20000000,Series D
1206,Leap Finance,"2,019.00",Bangalore,Financial Services,International education loans for high potential students.,"Arnav Kumar, Vaibhav Singh",Owl Ventures,$55000000,Series C
1207,CollegeDekho,"2,015.00",Gurugram,EdTech,"Collegedekho.com is Student’s Partner, Friend & Confidante, To Help Him Take a Decision and Move On to His Career Goals.",Ruchir Arora,"Winter Capital, ETS, Man Capital",$26000000,Series B
1208,WeRize,"2,019.00",Bangalore,Financial Services,India’s first socially distributed full stack financial services platform for small town India,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital",$8000000,Series A

In [262]:
data_df_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB

In [263]:
data_df_2021.duplicated().sum()

19

In [264]:
# show all occurences of duplicated rows

data_df_2021[data_df_2021.duplicated]

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
107,Curefoods,"2,020.00",Bangalore,Food & Beverages,Healthy & nutritious foods and cold pressed juices produced in Edinburgh. Currently distributing wholesale within the Edinburgh region.,Ankit Nagori,"Iron Pillar, Nordstar, Binny Bansal",$13000000,NaN
109,Bewakoof,"2,012.00",Mumbai,Apparel & Fashion,"Bewakoof is a lifestyle fashion brand that makes creative, distinctive fashion for the trendy, contemporary Indian.",Prabhkiran Singh,InvestCorp,$8000000,NaN
111,FanPlay,"2,020.00",Computer Games,Computer Games,A real money game app specializing in trivia games,YC W21,"Pritesh Kumar, Bharat Gupta",Upsparks,$1200000
117,Advantage Club,"2,014.00",Mumbai,HRTech,"Advantage Club is India's largest employee engagement platform, Provide end to end employee benefit management with state of the art products like:","Sourabh Deorah, Smiti Bhatt Deorah","Y Combinator, Broom Ventures, Kunal Shah",$1700000,NaN
119,Ruptok,"2,020.00",New Delhi,FinTech,"Ruptok fintech Pvt. Ltd. is an online gold loan service provider , with attractive interests rate .",Ankur Gupta,Eclear Leasing,$1000000,NaN
243,Trinkerr,"2,021.00",Bangalore,Capital Markets,Trinkerr is India's first social trading platform.,"Manvendra Singh, Gaurav Agarwal",Accel India,$6600000,Series A
244,Zorro,"2,021.00",Gurugram,Social network,Pseudonymous social network platform,"Jasveer Singh, Abhishek Asthana, Deepak Kumar","Vijay Shekhar Sharma, Ritesh Agarwal, Ankiti Bose",$32000000,Seed
245,Ultraviolette,"2,021.00",Bangalore,Automotive,Create and Inspire the future of sustainable urban transportation through Accelerated Innovation.,"Subramaniam Narayan, Niraj Rajmohan","TVS Motor, Zoho",$150000000,Series C
246,NephroPlus,"2,009.00",Hyderabad,Hospital & Health Care,"A vision and passion of redefining healthcare delivery in India in 2010, NephroPlus today is India’s largest network of dialysis centres.",Vikram Vuppala,IIFL Asset Management,$24000000,Series E
247,Unremot,"2,020.00",Bangalore,Information Technology & Services,Unremot is a personal office for consultants!,Shiju Radhakrishnan,Inflection Point Ventures,$700000,Seed
248,FanAnywhere,"2,021.00",Bangalore,Financial Services,Celebrity NFT platform,"Varun Chaudhary, Amit Kumar","Oasis Capital, Scorpio VC, DeltaHub Capital",$Undisclosed,Seed
249,PingoLearn,"2,021.00",Pune,E-learning,PingoLearn offers language learning courses with snackable videos.,"Mohit Menghani, Shubham Maheshwari","Titan Capital, Haresh Chawla, AngelList Syndicate",$200000,NaN
250,Spry,"2,021.00",Mumbai,Music,THE BEST ROYALTY-FREE MUSIC TO CREATE TRENDING VIDEOS,"Gaurav Dagaonkar, Meghna Mittal","9Unicorns, Ashneer Grover",$1500000,Seed
251,Enmovil,"2,015.00",Hyderabad,Information Technology & Services,Enmovil delivers a Business Intelligence Platform driven by a connected asset ecosystem that enables organizations to maximise their operational efficiency.,"Ravi Bulusu, Nanda Kishore, Venkat Moganty",Anicut Angel Fund,$1300000,Pre-series A
252,ASQI Advisors,"2,019.00",Mumbai,Financial Services,Bringing Blockchain technology intro mainstream finance!,Swapnil Pawar,Founders Room Capital,$1000000,Pre-series A
253,Insurance Samadhan,"2,018.00",New Delhi,Insurance,The insurance industry will help in representation with the insurance companies and will help to find adequate redressal for grievances.,Deepak Bhuvenshwari Uniyal,"9Unicorns, ZNL",$725000,Pre-series A
254,Evenflow Brands,"2,020.00",Mumbai,Consumer Goods,Identify and partner with the upcoming eCommerce-1st brands that sell on marketplaces and have a successful track record of positive reviews & ratings,"Utsav Agarwal, Pulkit Chhabra",NaN,$500000,NaN
255,MasterChow,"2,020.00",Food & Beverages,Hauz Khas,A ready-to-cook Asian cuisine brand,"Vidur Kataria, Sidhanth Madan",WEH Ventures,$461000,Seed
256,Fullife Healthcare,"2,009.00",Pharmaceuticals\t#REF!,Primary Business is Development and Manufacturing of Novel Healthcare Products in Effervescent forms using imported propriety ingredients.,Varun Khanna,Morgan Stanley Private Equity Asia,$22000000,Series C,NaN

In [265]:
# Drop duplicates

data_df_2021.drop_duplicates(inplace = True)

In [266]:
#drop columns

data_df_2021.drop(['Founded', 'Founders', 'Investor'], axis=1, inplace=True)

In [267]:
# add year column

data_df_2021['Year']=2021

In [268]:
data_df_2021.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1190 entries, 0 to 1208
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1190 non-null   object
 1   HeadQuarter    1189 non-null   object
 2   Sector         1190 non-null   object
 3   What_it_does   1190 non-null   object
 4   Amount         1187 non-null   object
 5   Stage          769 non-null    object
 6   Year           1190 non-null   int64
dtypes: int64(1), object(6)
memory usage: 74.4+ KB

In [269]:
data_df_2021['HeadQuarter'].value_counts()

HeadQuarter
Bangalore                            421
Mumbai                               198
Gurugram                             154
New Delhi                            142
Pune                                  46
Chennai                               40
Noida                                 34
Hyderabad                             32
Jaipur                                11
Ahmedabad                             11
Thane                                  7
Gurgaon                                7
Ahmadabad                              6
Kolkata                                5
Chandigarh                             5
Haryana                                4
Gujarat                                3
Lucknow                                3
Coimbatore                             3
Ghaziabad                              2
Indore                                 2
Cochin                                 2
Faridabad, Haryana                     2
Surat                                  2
Goa                                    2
Panaji                                 1
Satara                                 1
Orissia                                1
Beijing                                1
New York                               1
Jodhpur                                1
Bhubaneswar                            1
Kottayam                               1
Bhilwara                               1
Santra                                 1
Mountain View, CA                      1
Trivandrum                             1
Jharkhand                              1
Kanpur                                 1
Mangalore                              1
Guwahati                               1
Online Media\t#REF!                    1
Kochi                                  1
London                                 1
Information Technology & Services      1
The Nilgiris                           1
Telugana                               1
Samsitpur                              1
Andheri                                1
Panchkula                              1
Small Towns, Andhra Pradesh            1
Rajsamand                              1
Ranchi                                 1
Computer Games                         1
Vadodara                               1
Food & Beverages                       1
Pharmaceuticals\t#REF!                 1
Gurugram\t#REF!                        1
Mohali                                 1
Powai                                  1
Nagpur                                 1
West Bengal                            1
Patna                                  1
Telangana                              1
Silvassa                               1
Thiruvananthapuram                     1
Faridabad                              1
Roorkee                                1
Ambernath                              1
Gandhinagar                            1
Name: count, dtype: int64

In [270]:
data_df_2021[data_df_2021['HeadQuarter']=='Online Media\t#REF!']

,Company_Brand,HeadQuarter,Sector,What_it_does,Amount,Stage,Year
1100,Sochcast,Online Media\t#REF!,Sochcast is an Audio experiences company that give the listener and creators an Immersive Audio experience,"CA Harvinderjit Singh Bhatia, Garima Surana, Anil Srivatsa",NaN,NaN,2021

In [271]:
data_df_2021[data_df_2021['HeadQuarter']=='Information Technology & Services']

,Company_Brand,HeadQuarter,Sector,What_it_does,Amount,Stage,Year
1176,Peak,Information Technology & Services,"Manchester, Greater Manchester",Peak helps the world's smartest companies put the power of AI at the center of all commercial decision making with Decision Intelligence,$75000000,Series C,2021

In [272]:
data_df_2021[data_df_2021['HeadQuarter']=='Computer Games']

,Company_Brand,HeadQuarter,Sector,What_it_does,Amount,Stage,Year
98,FanPlay,Computer Games,Computer Games,A real money game app specializing in trivia games,Upsparks,$1200000,2021

In [273]:
data_df_2021[data_df_2021['HeadQuarter']=='Food & Beverages']

,Company_Brand,HeadQuarter,Sector,What_it_does,Amount,Stage,Year
241,MasterChow,Food & Beverages,Hauz Khas,A ready-to-cook Asian cuisine brand,$461000,Seed,2021

In [274]:
data_df_2021[data_df_2021['HeadQuarter']=='Pharmaceuticals\t#REF!']

,Company_Brand,HeadQuarter,Sector,What_it_does,Amount,Stage,Year
242,Fullife Healthcare,Pharmaceuticals\t#REF!,Primary Business is Development and Manufacturing of Novel Healthcare Products in Effervescent forms using imported propriety ingredients.,Varun Khanna,Series C,NaN,2021

In [275]:
# Fix some structural errors

data_df_2021['HeadQuarter'].replace('Faridabad, Haryana','Faridabad',inplace =True, regex=True)
data_df_2021['HeadQuarter'].replace('Mountain View, CA','California',inplace =True, regex=True) 
data_df_2021['HeadQuarter'].replace('Online Media\t#REF!',np.nan,inplace =True, regex=True)
data_df_2021['HeadQuarter'].replace('Information Technology & Services','Manchester',inplace =True, regex=True)
data_df_2021['HeadQuarter'].replace('Small Towns, Andhra Pradesh','Andhra Pradesh',inplace =True, regex=True)
data_df_2021['HeadQuarter'].replace('Computer Games',np.nan,inplace =True, regex=True)
data_df_2021['HeadQuarter'].replace('Food & Beverages',np.nan,inplace =True, regex=True)
data_df_2021['HeadQuarter'].replace('Pharmaceuticals\t#REF!',np.nan,inplace =True, regex=True)
data_df_2021['HeadQuarter'].replace('Gurugram\t#REF!','Gurugram',inplace =True, regex=True)

In [276]:
data_df_2021['Sector'].value_counts().sort_index()

Sector
AI Chatbot                                                                                                                                      1
AI company                                                                                                                                      2
AI startup                                                                                                                                     10
AR startup                                                                                                                                      1
Advertisement                                                                                                                                   1
Advisory firm                                                                                                                                   1
Aeorspace                                                                                                                                       1
AgriTech                                                                                                                                       20
Analytics                                                                                                                                       1
Apparel & Fashion                                                                                                                               7
Arts & Crafts                                                                                                                                   2
Augmented reality                                                                                                                               1
Automation                                                                                                                                      2
Automobile                                                                                                                                      1
Automotive                                                                                                                                     32
Aviation                                                                                                                                        1
Aviation & Aerospace                                                                                                                            1
B2B                                                                                                                                             2
B2B E-commerce                                                                                                                                  2
B2B Ecommerce                                                                                                                                   2
B2B Manufacturing                                                                                                                               1
B2B Marketplace                                                                                                                                 1
B2B Travel                                                                                                                                      1
B2B marketplace                                                                                                                                 1
B2B service                                                                                                                                     3
B2B startup                                                                                                                                     1
Banking                                                                                                                                         3
Battery                                                                                                                                         1
Beauty products                                                                                                                                 2
Beverages                                                                                                                                       1
Bike Rental                                                                                                                                     1
BioTechnology                                                                                                                                   5
Biotechnology                                                                                                                                   6
Blockchain                                                                                                                                      3
Blockchain startup                                                                                                                              2
Blogging                                                                                                                                        1
Business Supplies & Equipment                                                                                                                   1
CRM                                                                                                                                             1
Cannabis startup                                                                                                                                1
Capital Markets                                                                                                                                 1
Celebrity Engagement                                                                                                                            1
CleanTech                                                                                                                                       1
Clothing                                                                                                                                        1
Cloud kitchen                                                                                                                                   1
Co-working                                                                                                                                      1
Commerce                                                                                                                                        1
Commercial Real Estate                                                                                                                          1
Community                                                                                                                                       1
Community platform                                                                                                                              1
Company-as-a-Service                                                                                                                            1
Computer & Network Security                                                                                                                     1
Computer Games                                                                                                                                  3
Computer Software                                                                                                                              20
Computer software                                                                                                                              11
Construction                                                                                                                                    5
Consulting                                                                                                                                      6
Consumer Electronics                                                                                                                            4
Consumer Goods                                                                                                                                 23
Consumer Services                                                                                                                               6
Consumer goods                                                                                                                                  1
Consumer service                                                                                                                                1
Consumer software                                                                                                                               1
Content commerce                                                                                                                                1
Content creation                                                                                                                                1
Content publishing                                                                                                                              1
Cosmetics                                                                                                                                       5
Crypto                                                                                                                                          3
Cryptocurrency                                                                                                                                  1
Cultural                                                                                                                                        1
D2C                                                                                                                                             3
D2C Business                                                                                                                                    1
D2C Fashion                                                                                                                                     2
D2C jewellery                                                                                                                                   1
D2C startup                                                                                                                                     1
Dating                                                                                                                                          3
Deep Tech                                                                                                                                       1
Deeptech                                                                                                                                        5
Defense & Space                                                                                                                                 1
Delivery service                                                                                                                                1
Design                                                                                                                                          2
Digital mortgage                                                                                                                                1
Digital platform                                                                                                                                1
Drone                                                                                                                                           3
E-commerce                                                                                                                                     37
E-learning                                                                                                                                     24
EV                                                                                                                                              1
EV startup                                                                                                                                      3
EdTech                                                                                                                                        102
Education                                                                                                                                       1
Education Management                                                                                                                            3
Electronics                                                                                                                                     3
Entertainment                                                                                                                                   4
Environmental Services                                                                                                                          1
Environmental service                                                                                                                           1
Equity Management                                                                                                                               1
Eyewear                                                                                                                                         2
Facilities Services                                                                                                                             1
Fantasy sports                                                                                                                                  1
Farming                                                                                                                                         5
Fashion                                                                                                                                         6
Fashion & Lifestyle                                                                                                                             1
Fashion and lifestyle                                                                                                                           2
FemTech                                                                                                                                         1
Femtech                                                                                                                                         1
FinTech                                                                                                                                       121
Finance                                                                                                                                         3
Financial Services                                                                                                                             59
Fishery                                                                                                                                         1
Fitness                                                                                                                                         2
Food                                                                                                                                            1
Food & Beverages                                                                                                                               36
Food Industry                                                                                                                                   1
Food Production                                                                                                                                 3
Food and Beverages                                                                                                                              2
Food delivery                                                                                                                                   1
Foootwear                                                                                                                                       1
Furniture                                                                                                                                       4
Furniture Rental                                                                                                                                1
Gaming                                                                                                                                         19
HR Tech                                                                                                                                         2
HRTech                                                                                                                                          1
Hauz Khas                                                                                                                                       1
Healtcare                                                                                                                                       2
Health                                                                                                                                          3
Health care                                                                                                                                     3
Health, Wellness & Fitness                                                                                                                     17
HealthCare                                                                                                                                     26
HealthTech                                                                                                                                     13
Healthcare                                                                                                                                     26
Healthtech                                                                                                                                      4
HeathTech                                                                                                                                       1
Heathcare                                                                                                                                       4
Helathcare                                                                                                                                      2
Higher Education                                                                                                                                2
Home Decor                                                                                                                                      1
Home services                                                                                                                                   2

In [277]:
# Fix some structural errors

data_df_2021['Sector'].replace('AI company','AI',inplace =True, regex=True)
data_df_2021['Sector'].replace('AI startup','AI',inplace =True, regex=True)
data_df_2021['Sector'].replace('AR startup','AR',inplace =True, regex=True)
data_df_2021['Sector'].replace('Augmented reality','AR',inplace =True, regex=True)
data_df_2021['Sector'].replace('B2B Ecommerce','B2B E-commerce',inplace =True, regex=True)
data_df_2021['Sector'].replace('B2B marketplace','B2B Marketplace',inplace =True, regex=True)
data_df_2021['Sector'].replace('B2B startup','B2B',inplace =True, regex=True)
data_df_2021['Sector'].replace('Biotechnology','BioTechnology',inplace =True, regex=True)
data_df_2021['Sector'].replace('Blockchain startup','Blockchain',inplace =True, regex=True)
data_df_2021['Sector'].replace('Computer software','Computer Software',inplace =True, regex=True)
data_df_2021['Sector'].replace('Consumer goods','Consumer Goods',inplace =True, regex=True)
data_df_2021['Sector'].replace('Consumer service','Consumer Services',inplace =True, regex=True)
data_df_2021['Sector'].replace('Cryptocurrency','Crypto',inplace =True, regex=True)
data_df_2021['Sector'].replace('D2C Business','D2C',inplace =True, regex=True)
data_df_2021['Sector'].replace('D2C startup','D2C',inplace =True, regex=True)
data_df_2021['Sector'].replace('Deep Tech','Deeptech',inplace =True, regex=True)
data_df_2021['Sector'].replace('EV startup','EV',inplace =True, regex=True)
data_df_2021['Sector'].replace('Environmental service','Environmental Services',inplace =True, regex=True)
data_df_2021['Sector'].replace('Fashion and lifestyle','Fashion & Lifestyle',inplace =True, regex=True)
data_df_2021['Sector'].replace('Femtech','FemTech',inplace =True, regex=True)
data_df_2021['Sector'].replace('Food and Beverages','Food & Beverages',inplace =True, regex=True)
data_df_2021['Sector'].replace('HR Tech','HRTech',inplace =True, regex=True)
data_df_2021['Sector'].replace('Hauz Khas','Food & Beverages',inplace =True, regex=True)
data_df_2021['Sector'].replace('Healtcare','HealthCare',inplace =True, regex=True)
data_df_2021['Sector'].replace('Health care','HealthCare',inplace =True, regex=True)
data_df_2021['Sector'].replace('Health, Wellness & Fitness','Health',inplace =True, regex=True)
data_df_2021['Sector'].replace('Healthcare','HealthCare',inplace =True, regex=True)
data_df_2021['Sector'].replace('Heathcare','HealthCare',inplace =True, regex=True)
data_df_2021['Sector'].replace('Healthtech','HealthTech',inplace =True, regex=True)
data_df_2021['Sector'].replace('HeathTech','HealthTech',inplace =True, regex=True)
data_df_2021['Sector'].replace('IT company','IT',inplace =True, regex=True)
data_df_2021['Sector'].replace('IT startup','IT',inplace =True, regex=True)
data_df_2021['Sector'].replace('Information Technology','IT',inplace =True, regex=True)
data_df_2021['Sector'].replace('Innovation management','Innovation Management',inplace =True, regex=True)
data_df_2021['Sector'].replace('Insuretech','InsureTech',inplace =True, regex=True)
data_df_2021['Sector'].replace('Legaltech','LegalTech',inplace =True, regex=True)
data_df_2021['Sector'].replace('Manchester, Greater Manchester','Information Technology & Services',inplace =True, regex=True)
data_df_2021['Sector'].replace('Mechanical Or Industrial Engineering','Mechanical & Industrial Engineering',inplace =True, regex=True)
data_df_2021['Sector'].replace('MoEVing is India\'s only Electric Mobility focused Technology Platform with a vision to accelerate EV adoption in India.','EV',inplace =True, regex=True)
data_df_2021['Sector'].replace('Oil and Energy','Oil & Energy',inplace =True, regex=True)
data_df_2021['Sector'].replace('Primary Business is Development and Manufacturing of Novel Healthcare Products in Effervescent forms using imported propriety ingredients.','HealthCare',inplace =True, regex=True)
data_df_2021['Sector'].replace('Real estate','Real Estate',inplace =True, regex=True)
data_df_2021['Sector'].replace('SaaS startup','SaaS',inplace =True, regex=True)
data_df_2021['Sector'].replace('Sochcast is an Audio experiences company that give the listener and creators an Immersive Audio experience','Online Media',inplace =True, regex=True)
data_df_2021['Sector'].replace('Social media','Social Media',inplace =True, regex=True)
data_df_2021['Sector'].replace('Software Startup','Software',inplace =True, regex=True)
data_df_2021['Sector'].replace('Software company','Software',inplace =True, regex=True)
data_df_2021['Sector'].replace('Sports startup','Sports',inplace =True, regex=True)
data_df_2021['Sector'].replace('Tech startup','Tech Startup',inplace =True, regex=True)
data_df_2021['Sector'].replace('Telecommuncation','Telecommunications',inplace =True, regex=True)
data_df_2021['Sector'].replace('sports','Sports',inplace =True, regex=True)

In [278]:
data_df_2021['Amount'].value_counts().sort_index()

Amount
$                                   2
$$1,55,000                          1
$$100,00                            1
$1,000,000                         33
$1,000,000,000                      1
$1,100,000                          2
$1,200,000                          1
$1,250,000                          1
$1,300,000                          2
$1,400,000                          1
$1,500,000                          9
$1,600,000                          3
$1,700,000                          1
$1,800,000                          5
$10,000,000                        15
$100,000                            6
$100,000,000                        4
$100000                             8
$1000000                           50
$10000000                          28
$100000000                         11
$10200000                           1
$108000000                          1
$11,000,000                         3
$110,000,000                        1
$1100000                            4
$11000000                           4
$111000000                          1
$115000000                          1
$12,000,000                         2
$12,500,000                         2
$120,000,000                        2
$1200000                           12
$12000000                           9
$125,000                            1
$125000                             1
$125000000                          4
$13,000,000                         1
$13,500,000                         1
$130000                             1
$1300000                            5
$13000000                           4
$135000000                          1
$14,300,000                         1
$140,000                            1
$140,000,000                        2
$140000                             1
$1400000                            1
$14000000                           1
$140000000                          1
$144000000                          1
$145000000                          1
$15,000,000                        11
$150,000                            2
$150,000,000                        1
$150,000,000,000                    1
$150000                             6
$1500000                           10
$15000000                           6
$150000000                          4
$16,000,000                         1
$16,500,000                         1
$160,000,000                        1
$1600000                            3
$16000000                           2
$17,000,000                         2
$1700000                            4
$17000000                           2
$17500000                           1
$175000000                          1
$18,000,000                         1
$1800000                            3
$18000000                           1
$188,000,000                        1
$1900000                            2
$19000000                           1
$192000000                          1
$195,000,000                        1
$2,000,000                         20
$2,200,000                          2
$2,500,000                          2
$2,600,000                          2
$20,000,000                         5
$200,000                           17
$200,000,000                        2
$200000                            19
$2000000                           40
$20000000                          15
$200000000                          5
$21,000,000                         1
$2100000                            1
$21000000                           2
$215,000,000                        1
$2200000                            3
$22000000                           2
$220000000                          2
$225000                             1
$225000000                          2
$2300000                            4
$23000000                           1
$234,000,000                        1
$235000                             1
$24,000,000                         1
$24000000                           4
$248000000                          1
$25,000,000                         1
$250,000                            1
$250000                             1
$2500000                            8
$25000000                           6
$250000000                          4
$255000000                          1
$26,000,000                         2
$260,000                            1
$260000                             1
$2600000                            1
$26000000                           2
$260000000                          1
$265000                             1
$266000000                          1
$27,000,000                         1
$2700000                            1
$270000000                          1
$280,000,000                        1
$28000000                           2
$2900000                            1
$3,000,000                         17
$3,500,000                          2
$3,800,000                          1
$30,000,000                         8
$300,000                           10
$300,000,000                        1
$300000                            17
$3000000                           31
$30000000                          13
$300000000                          1
$31000000                           1
$320000                             3
$3200000                            2
$32000000                           2
$325000000                          1
$330000                             2
$3300000                            1
$340,000                            1
$340000                             1
$35,000,000                         1
$350,000                            2
$350,000,000                        1
$3500000                            7
$35000000                           4
$350000000                          1
$3600000                            1
$36000000                           1
$370000                             2
$37000000                           2
$370000000                          1
$3800000                            3
$38000000                           1
$4,000,000                         10
$4,100,000                          2
$40,000,000                         6
$400,000                            6
$400,000,000                        1
$400000                            18
$4000000                           20
$40000000                           8
$41000000                           1
$4200000                            1
$42000000                           2
$43,000,000                         1
$4300000                            1
$44000000                           1
$45,000,000                         2
$450000                             1
$4500000                            6
$45000000                           2
$450000000                          2
$460,000,000                        1
$461000                             1
$4700000                            1
$4800000                            1
$48000000                           2
$49,000,000                         1
$4900000                            1
$5,000,000                         12
$5,100,000                          1
$5,200,000                          1
$5,500,000                          1
$50,000,000                         5
$500,000                           11
$500,000,000                        1
$500000                            24
$5000000                           29
$50000000                          10
$500000000                          1
$51,000,000                         1
$5200000                            2
$52000000                           2
$53,000,000                         1
$53000000                           2
$540000                             1
$5400000                            1
$550000                             1
$5500000                            6
$55000000                           1
$570000                             1
$5700000                            1
$570000000                          1
$6,000,000                         10
$6,300,000                          1
$600,000                            4
$600000                            10
$6000000                           13
$60000000                           5
$600000000                          1
$620000                             1
$6200000                            1
$6300000                            1
$64000000                           1
$65,000,000                         1
$6500000                            3
$65000000                           2
$6600000                            1
$660000000                          1
$6700000                            2
$67000000                           1
$6750000                            1
$7,000,000                          3
$7,300,000                          1
$7,400,000                          1
$7,500,000                          1
$70,000,000                         1
$700,000                            3
$700000                            11
$7000000                           13
$70000000                           4
$720,000                            1
$725000                             1
$75,000,000                         4
$750000                             1
$7500000                            1
$75000000                           4
$76000000                           2
$770000                             1
$78000000                           1
$8,000,000                          2
$8,200,000                          1
$800,000                            5
$800,000,000                        1
$800000                             5
$8000000                            8
$81,000,000                         1
$810000                             1
$83,000,000                         1
$840000000                          1
$850,000                            1
$8500000                            1
$85000000                           1
$86000000                           1
$9,000,000                          2
$900,000                            1
$900000                             2
$9000000                            4
$90000000                           2
$92000000                           1
$95,000,000                         2
$9500000                            2
$96000000                           1
$Undisclosed                       72
$undisclosed                       22
ITO Angel Network, LetsVenture      1
JITO Angel Network, LetsVenture     1
Pre-series A                        1
Seed                                2
Series C                            1
Undisclosed                        43
Upsparks                            1
ah! Ventures                        1
Name: count, dtype: int64

In [279]:
# Replace Values

data_df_2021['Amount'].replace("[,$J]", "", inplace = True, regex=True)

In [280]:
data_df_2021['Amount'].value_counts().sort_index()

Amount
                                   2
10000                              1
100000                            14
1000000                           83
10000000                          43
100000000                         15
1000000000                         1
10200000                           1
108000000                          1
1100000                            6
11000000                           7
110000000                          1
111000000                          1
115000000                          1
1200000                           13
12000000                          11
120000000                          2
125000                             2
1250000                            1
12500000                           2
125000000                          4
130000                             1
1300000                            7
13000000                           5
13500000                           1
135000000                          1
140000                             2
1400000                            2
14000000                           1
140000000                          3
14300000                           1
144000000                          1
145000000                          1
150000                             8
1500000                           19
15000000                          17
150000000                          5
150000000000                       1
155000                             1
1600000                            6
16000000                           3
160000000                          1
16500000                           1
1700000                            5
17000000                           4
17500000                           1
175000000                          1
1800000                            8
18000000                           2
188000000                          1
1900000                            2
19000000                           1
192000000                          1
195000000                          1
200000                            36
2000000                           60
20000000                          20
200000000                          7
2100000                            1
21000000                           3
215000000                          1
2200000                            5
22000000                           2
220000000                          2
225000                             1
225000000                          2
2300000                            4
23000000                           1
234000000                          1
235000                             1
24000000                           5
248000000                          1
250000                             2
2500000                           10
25000000                           7
250000000                          4
255000000                          1
260000                             2
2600000                            3
26000000                           4
260000000                          1
265000                             1
266000000                          1
2700000                            1
27000000                           1
270000000                          1
28000000                           2
280000000                          1
2900000                            1
300000                            27
3000000                           48
30000000                          21
300000000                          2
31000000                           1
320000                             3
3200000                            2
32000000                           2
325000000                          1
330000                             2
3300000                            1
340000                             2
350000                             2
3500000                            9
35000000                           5
350000000                          2
3600000                            1
36000000                           1
370000                             2
37000000                           2
370000000                          1
3800000                            4
38000000                           1
400000                            24
4000000                           30
40000000                          14
400000000                          1
4100000                            2
41000000                           1
4200000                            1
42000000                           2
4300000                            1
43000000                           1
44000000                           1
450000                             1
4500000                            6
45000000                           4
450000000                          2
460000000                          1
461000                             1
4700000                            1
4800000                            1
48000000                           2
4900000                            1
49000000                           1
500000                            35
5000000                           41
50000000                          15
500000000                          2
5100000                            1
51000000                           1
5200000                            3
52000000                           2
53000000                           3
540000                             1
5400000                            1
550000                             1
5500000                            7
55000000                           1
570000                             1
5700000                            1
570000000                          1
600000                            14
6000000                           23
60000000                           5
600000000                          1
620000                             1
6200000                            1
6300000                            2
64000000                           1
6500000                            3
65000000                           3
6600000                            1
660000000                          1
6700000                            2
67000000                           1
6750000                            1
700000                            14
7000000                           16
70000000                           5
720000                             1
725000                             1
7300000                            1
7400000                            1
750000                             1
7500000                            2
75000000                           8
76000000                           2
770000                             1
78000000                           1
800000                            10
8000000                           10
800000000                          1
810000                             1
81000000                           1
8200000                            1
83000000                           1
840000000                          1
850000                             1
8500000                            1
85000000                           1
86000000                           1
900000                             3
9000000                            6
90000000                           2
92000000                           1
9500000                            2
95000000                           2
96000000                           1
ITO Angel Network LetsVenture      2
Pre-series A                       1
Seed                               2
Series C                           1
Undisclosed                      115
Upsparks                           1
ah! Ventures                       1
undisclosed                       22
Name: count, dtype: int64

In [281]:
data_df_2021[data_df_2021['Amount']=='ITO Angel Network LetsVenture']

,Company_Brand,HeadQuarter,Sector,What_it_does,Amount,Stage,Year
551,BHyve,Mumbai,Human Resources,A Future of Work Platform for diffusing Employee Tacit Knowledge and enabling Peer Learning Networks,ITO Angel Network LetsVenture,$300000,2021
677,Saarthi Pedagogy,Ahmadabad,EdTech,"India's fastest growing Pedagogy company, serving to school as an academic growth partner and provide 360° solutions to schools on Academic Strategies",ITO Angel Network LetsVenture,$1000000,2021

In [282]:
# Replace individual rows in Amount column

data_df_2021.at[551, 'Amount'] = '300000'
data_df_2021.at[677, 'Amount'] = '1000000'

In [283]:
data_df_2021[data_df_2021['Amount']=='Pre-series A']

,Company_Brand,HeadQuarter,Sector,What_it_does,Amount,Stage,Year
545,AdmitKard,Noida,EdTech,A tech solution for end to end career advisory to students looking to study abroad.,Pre-series A,NaN,2021

In [284]:
data_df_2021[data_df_2021['Amount']=='Seed']

,Company_Brand,HeadQuarter,Sector,What_it_does,Amount,Stage,Year
257,MoEVing,Gurugram,EV,"Vikash Mishra, Mragank Jain",Seed,NaN,2021
1148,Godamwale,Mumbai,Logistics & Supply Chain,Godamwale is tech enabled integrated logistics company providing end to end supply chain solutions.,Seed,NaN,2021

In [285]:
data_df_2021[data_df_2021['Amount']=='Series C']

,Company_Brand,HeadQuarter,Sector,What_it_does,Amount,Stage,Year
242,Fullife Healthcare,NaN,Primary Business is Development and Manufacturing of Novel HealthCare Products in Effervescent forms using imported propriety ingredients.,Varun Khanna,Series C,NaN,2021

In [286]:
data_df_2021[data_df_2021['Amount']=='Upsparks']

,Company_Brand,HeadQuarter,Sector,What_it_does,Amount,Stage,Year
98,FanPlay,NaN,Computer Games,A real money game app specializing in trivia games,Upsparks,$1200000,2021

In [287]:
data_df_2021[data_df_2021['Amount']=='ah! Ventures']

,Company_Brand,HeadQuarter,Sector,What_it_does,Amount,Stage,Year
538,Little Leap,New Delhi,EdTech,Soft Skills that make Smart Leaders,ah! Ventures,$300000,2021

In [288]:
# Replace Values

data_df_2021['Amount'].replace('', np.nan, inplace = True, regex=True)
data_df_2021['Amount'].replace('Pre-series A', np.nan, inplace = True, regex=True)
data_df_2021['Amount'].replace('Seed', np.nan, inplace = True, regex=True)
data_df_2021['Amount'].replace('Series C', np.nan, inplace = True, regex=True)
data_df_2021['Amount'].replace('Undisclosed', np.nan, inplace = True, regex=True)
data_df_2021['Amount'].replace('Upsparks', '1200000', inplace = True, regex=True)
data_df_2021['Amount'].replace('ah! Ventures', '300000', inplace = True, regex=True)
data_df_2021['Amount'].replace('undisclosed', np.nan, inplace = True, regex=True)

In [289]:
data_df_2021['Amount'].unique()

array(['1200000', '120000000', '30000000', '51000000', '2000000',
       '188000000', '200000', nan, '1000000', '3000000', '100000',
       '700000', '9000000', '40000000', '49000000', '400000', '300000',
       '25000000', '160000000', '150000', '1800000', '5000000', '850000',
       '53000000', '500000', '1100000', '6000000', '800000', '10000000',
       '21000000', '7500000', '26000000', '7400000', '1500000', '600000',
       '800000000', '17000000', '3500000', '15000000', '215000000',
       '2500000', '350000000', '5500000', '83000000', '110000000',
       '500000000', '65000000', '150000000000', '300000000', '2200000',
       '35000000', '140000000', '4000000', '13000000', '9500000',
       '8000000', '12000000', '1700000', '150000000', '100000000',
       '225000000', '6700000', '1300000', '20000000', '250000',
       '52000000', '3800000', '17500000', '42000000', '2300000',
       '7000000', '450000000', '28000000', '8500000', '37000000',
       '370000000', '16000000', '44000000', '770000', '125000000',
       '50000000', '4900000', '145000000', '22000000', '70000000',
       '6600000', '32000000', '24000000', '725000', '461000', '96000000',
       '60000000', '266000000', '4500000', '325000000', '6500000',
       '1600000', '225000', '85000000', '235000', '260000', '2900000',
       '86000000', '130000', '10000', '111000000', '265000', '76000000',
       '75000000', '1000000000', '18000000', '350000', '95000000',
       '4100000', '5200000', '1400000', '2600000', '900000', '11000000',
       '280000000', '14300000', '81000000', '8200000', '720000', '330000',
       '200000000', '36000000', '67000000', '10200000', '220000000',
       '108000000', '450000', '660000000', '45000000', '3200000',
       '370000', '48000000', '3600000', '192000000', '1900000',
       '41000000', '144000000', '270000000', '140000', '250000000',
       '320000', '4800000', '38000000', '125000', '64000000', '620000',
       '1250000', '400000000', '27000000', '234000000', '460000000',
       '13500000', '5100000', '195000000', '7300000', '6300000',
       '12500000', '16500000', '340000', '43000000', '3300000',
       '92000000', '135000000', '155000', '2100000', '840000000',
       '248000000', '4300000', '570000', '4700000', '260000000',
       '175000000', '19000000', '810000', '600000000', '90000000',
       '5700000', '6750000', '78000000', '5400000', '115000000',
       '255000000', '570000000', '550000', '2700000', '4200000',
       '31000000', '540000', '14000000', '6200000', '750000', '23000000',
       '55000000'], dtype=object)

In [290]:
data_df_2021['Stage'].value_counts().sort_index()

Stage
$1000000           1
$1200000           1
$300000            2
$6000000           1
Bridge             2
Debt              27
Early seed         1
PE                 1
Pre-seed          47
Pre-series         2
Pre-series A     154
Pre-series A1      4
Pre-series B      10
Seed             241
Seed+              1
Seies A            1
Series A         125
Series A+          1
Series A2          1
Series B          49
Series B3          1
Series C          44
Series D          21
Series D1          1
Series E          17
Series F           6
Series F1          1
Series F2          1
Series G           2
Series H           2
Series I           1
Name: count, dtype: int64

In [291]:
# Replace Values

data_df_2021['Stage'].replace("[$]", "", inplace = True, regex=True)

In [292]:
data_df_2021[data_df_2021['Stage']=='1000000']

,Company_Brand,HeadQuarter,Sector,What_it_does,Amount,Stage,Year
677,Saarthi Pedagogy,Ahmadabad,EdTech,"India's fastest growing Pedagogy company, serving to school as an academic growth partner and provide 360° solutions to schools on Academic Strategies",1000000,1000000,2021

In [293]:
data_df_2021[data_df_2021['Stage']=='1200000']

,Company_Brand,HeadQuarter,Sector,What_it_does,Amount,Stage,Year
98,FanPlay,NaN,Computer Games,A real money game app specializing in trivia games,1200000,1200000,2021

In [294]:
data_df_2021[data_df_2021['Stage']=='300000']

,Company_Brand,HeadQuarter,Sector,What_it_does,Amount,Stage,Year
538,Little Leap,New Delhi,EdTech,Soft Skills that make Smart Leaders,300000,300000,2021
551,BHyve,Mumbai,Human Resources,A Future of Work Platform for diffusing Employee Tacit Knowledge and enabling Peer Learning Networks,300000,300000,2021

In [295]:
data_df_2021[data_df_2021['Stage']=='6000000']

,Company_Brand,HeadQuarter,Sector,What_it_does,Amount,Stage,Year
674,MYRE Capital,Mumbai,Commercial Real Estate,Democratising Real Estate Ownership,NaN,6000000,2021

In [296]:
# Replace Values

data_df_2021['Stage'].replace('1000000', np.nan, inplace = True, regex=True)
data_df_2021['Stage'].replace('1200000', np.nan, inplace = True, regex=True)
data_df_2021['Stage'].replace('300000', np.nan, inplace = True, regex=True)
data_df_2021['Stage'].replace('6000000', np.nan, inplace = True, regex=True)
data_df_2021['Stage'].replace('Seies A', 'Series A', inplace = True, regex=True)

In [297]:
data_df_2021.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1190 entries, 0 to 1208
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1190 non-null   object
 1   HeadQuarter    1185 non-null   object
 2   Sector         1190 non-null   object
 3   What_it_does   1190 non-null   object
 4   Amount         1044 non-null   object
 5   Stage          764 non-null    object
 6   Year           1190 non-null   int64
dtypes: int64(1), object(6)
memory usage: 106.7+ KB

In [298]:
data_df_2020.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1052 entries, 0 to 1054
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  1052 non-null   object
 1   HeadQuarter    958 non-null    object
 2   Sector         1039 non-null   object
 3   What it does   1052 non-null   object
 4   Amount($)      799 non-null    object
 5   Stage          590 non-null    object
 6   Year           1052 non-null   int64
dtypes: int64(1), object(6)
memory usage: 65.8+ KB

In [299]:
# Rename Columns to match other Data
data_df_2021.rename(columns = {'Company_Brand': 'Company/Brand', 'What_it_does': 'What it does',
                                'Amount': 'Amount($)'}, inplace=True)

In [300]:
#Merge 2020 and 2021 Data

data_new_2 = pd.concat([data_df_2020, data_df_2021], ignore_index=True)
data_new_2.tail()

,Company/Brand,HeadQuarter,Sector,What it does,Amount($),Stage,Year
2237,Gigforce,Gurugram,Staffing & Recruiting,A gig/on-demand staffing company.,3000000,Pre-series A,2021
2238,Vahdam,New Delhi,Food & Beverages,VAHDAM is among the world’s first vertically integrated online-first tea brands.,20000000,Series D,2021
2239,Leap Finance,Bangalore,Financial Services,International education loans for high potential students.,55000000,Series C,2021
2240,CollegeDekho,Gurugram,EdTech,"Collegedekho.com is Student’s Partner, Friend & Confidante, To Help Him Take a Decision and Move On to His Career Goals.",26000000,Series B,2021
2241,WeRize,Bangalore,Financial Services,India’s first socially distributed full stack financial services platform for small town India,8000000,Series A,2021

In [301]:
data_new_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2242 entries, 0 to 2241
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  2242 non-null   object
 1   HeadQuarter    2143 non-null   object
 2   Sector         2229 non-null   object
 3   What it does   2242 non-null   object
 4   Amount($)      1843 non-null   object
 5   Stage          1354 non-null   object
 6   Year           2242 non-null   int64
dtypes: int64(1), object(6)
memory usage: 122.7+ KB

In [302]:
# Merge all tables together into 1 DataFrame

Final_Startup_Data = pd.concat([data_new, data_new_2], ignore_index=True)

### Final Data set 
Understanding, cleaning and preprocessing Final merged dataset

-   Check for duplicates

-   Deal with missing data

-   Check and refine column datatypes

-   Any other custom rule based checks

In [303]:
Final_Startup_Data.tail()

,Company/Brand,Sector,Stage,HeadQuarter,What it does,Amount($),Year
2851,Gigforce,Staffing & Recruiting,Pre-series A,Gurugram,A gig/on-demand staffing company.,3000000,2021
2852,Vahdam,Food & Beverages,Series D,New Delhi,VAHDAM is among the world’s first vertically integrated online-first tea brands.,20000000,2021
2853,Leap Finance,Financial Services,Series C,Bangalore,International education loans for high potential students.,55000000,2021
2854,CollegeDekho,EdTech,Series B,Gurugram,"Collegedekho.com is Student’s Partner, Friend & Confidante, To Help Him Take a Decision and Move On to His Career Goals.",26000000,2021
2855,WeRize,Financial Services,Series A,Bangalore,India’s first socially distributed full stack financial services platform for small town India,8000000,2021

In [304]:
Final_Startup_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2856 entries, 0 to 2855
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  2856 non-null   object
 1   Sector         2808 non-null   object
 2   Stage          1882 non-null   object
 3   HeadQuarter    2738 non-null   object
 4   What it does   2856 non-null   object
 5   Amount($)      2297 non-null   object
 6   Year           2856 non-null   int64
dtypes: int64(1), object(6)
memory usage: 156.3+ KB

In [305]:
# Check for duplicates

Final_Startup_Data.duplicated().sum()

3

In [306]:
# show all occurences of duplicated rows

Final_Startup_Data[Final_Startup_Data.duplicated(keep=False)]

,Company/Brand,Sector,Stage,HeadQuarter,What it does,Amount($),Year
827,Genius Teacher,EdTech,NaN,Mumbai,"Genius Teacher creates engaging educational content, delivers fun learning experience to the students",2000000.0,2020
845,Genius Teacher,EdTech,NaN,Mumbai,"Genius Teacher creates engaging educational content, delivers fun learning experience to the students",2000000.0,2020
1546,Byju,EdTech,NaN,NaN,Provides online learning classes,200000000.0,2020
1646,Byju,EdTech,NaN,NaN,Provides online learning classes,200000000.0,2020
1998,Siply,FinTech,Seed,Bangalore,Siply Services operates as a micro-savings platform.,1000000,2021
2063,Siply,FinTech,Seed,Bangalore,Siply Services operates as a micro-savings platform.,1000000,2021

In [307]:
Final_Startup_Data.drop_duplicates(inplace = True, ignore_index=True)

In [308]:
# Change dtypes

Final_Startup_Data['Amount($)']=Final_Startup_Data['Amount($)'].astype(float)
Final_Startup_Data['Year']=Final_Startup_Data['Year'].astype(str)

In [309]:
Final_Startup_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2853 entries, 0 to 2852
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  2853 non-null   object
 1   Sector         2805 non-null   object
 2   Stage          1881 non-null   object
 3   HeadQuarter    2736 non-null   object
 4   What it does   2853 non-null   object
 5   Amount($)      2294 non-null   float64
 6   Year           2853 non-null   object
dtypes: float64(1), object(6)
memory usage: 156.2+ KB

In [310]:
pd.set_option('display.float_format', '{:,.2f}'.format)
Final_Startup_Data.describe()

               Amount($)
count           2,294.00
mean      121,793,941.14
std     3,456,420,135.78
min               876.00
25%         1,000,000.00
50%         3,000,000.00
75%        12,000,000.00
max   150,000,000,000.00

In [311]:
Final_Startup_Data['Sector'].value_counts().sort_index()

Sector
3D Printing                                                                                                                                     1
AI                                                                                                                                             46
AI & Data science                                                                                                                               1
AI & Debt                                                                                                                                       1
AI & Deep learning                                                                                                                              1
AI & Media                                                                                                                                      1
AI & Tech                                                                                                                                       1
AI Chatbot                                                                                                                                      1
AI Platform                                                                                                                                     1
AI Robotics                                                                                                                                     1
AI health                                                                                                                                       1
AI platform                                                                                                                                     1
API platform                                                                                                                                    1
AR                                                                                                                                              2
AR platform                                                                                                                                     1
AR startup                                                                                                                                      1
AR/VR                                                                                                                                           2
Accomodation                                                                                                                                    4
Accounting                                                                                                                                      3
Ad-tech                                                                                                                                         1
Advertisement                                                                                                                                   1
Advertising                                                                                                                                     4
Advisory firm                                                                                                                                   1
Aeorspace                                                                                                                                       1
Aero company                                                                                                                                    1
Aerospace                                                                                                                                       2
AgTech                                                                                                                                          1
AgriTech                                                                                                                                       63
AgriTech startup                                                                                                                                1
AgriTech/Commerce                                                                                                                               1
Agriculture                                                                                                                                     9
Air Transportation                                                                                                                              1
Alternative Medicine                                                                                                                            1
Analytics                                                                                                                                       5
Apparel & Fashion                                                                                                                               7
Appliance                                                                                                                                       1
Apps                                                                                                                                           21
Artificial Intelligence                                                                                                                        15
Arts & Crafts                                                                                                                                   2
Audio                                                                                                                                           1
Auto-tech                                                                                                                                       1
Automation                                                                                                                                      4
Automation tech                                                                                                                                 1
Automobile                                                                                                                                     14
Automobile & Technology                                                                                                                         1
Automobile Technology                                                                                                                           1
Automotive                                                                                                                                     53
Automotive and Rentals                                                                                                                          3
Automotive company                                                                                                                              2
Automotive tech                                                                                                                                 3
Autonomous Vehicles                                                                                                                             2
Aviation                                                                                                                                        1
Aviation & Aerospace                                                                                                                            1
Ayurveda tech                                                                                                                                   1
B2B                                                                                                                                            17
B2B AgriTech                                                                                                                                    2
B2B E-commerce                                                                                                                                  4
B2B Manufacturing                                                                                                                               1
B2B Marketplace                                                                                                                                 2
B2B Supply Chain                                                                                                                                1
B2B Travel                                                                                                                                      1
B2B marketplace                                                                                                                                 2
B2B service                                                                                                                                     3
Banking                                                                                                                                        11
Battery                                                                                                                                         2
Battery design                                                                                                                                  1
Battery manufacturer                                                                                                                            1
Beauty                                                                                                                                          5
Beauty & wellness                                                                                                                               1
Beauty products                                                                                                                                 2
Beverage                                                                                                                                        8
Beverages                                                                                                                                       1
Big Data                                                                                                                                        5
Bike Rental                                                                                                                                     1
Bike marketplace                                                                                                                                1
BioTechnology                                                                                                                                  11
Biomaterial startup                                                                                                                             1
Biopharma                                                                                                                                       2
Biotech                                                                                                                                         2
Biotechnology                                                                                                                                   7
Blockchain                                                                                                                                      8
Blogging                                                                                                                                        1
Brand Marketing                                                                                                                                 1
Broadcasting                                                                                                                                    1
Business Development                                                                                                                            1
Business Intelligence                                                                                                                           1
Business Supplies & Equipment                                                                                                                   1
Business Travel                                                                                                                                 1
CRM                                                                                                                                             1
Cannabis startup                                                                                                                                1
Capital Markets                                                                                                                                 1
Car Service                                                                                                                                     2
Car Trade                                                                                                                                       1
Career Planning                                                                                                                                 2
Celebrity Engagement                                                                                                                            1
Child Care                                                                                                                                      2
Children                                                                                                                                        2
Classifieds                                                                                                                                     1
Clean Energy                                                                                                                                    1
CleanTech                                                                                                                                       3
Cleantech                                                                                                                                       3
Clothing                                                                                                                                        1
Cloud Computing                                                                                                                                 4
Cloud Infrastructure                                                                                                                            1
Cloud Kitchen                                                                                                                                   1
Cloud company                                                                                                                                   1
Cloud kitchen                                                                                                                                   1
Co-living                                                                                                                                       1
Co-working                                                                                                                                      5
Collaboration                                                                                                                                   2
Commerce                                                                                                                                        1
Commercial                                                                                                                                      1
Commercial Real Estate                                                                                                                          2
Communities                                                                                                                                     2
Community                                                                                                                                       1
Community platform                                                                                                                              1
Company-as-a-Service                                                                                                                            1
Computer                                                                                                                                        3
Computer & Network Security                                                                                                                     1
Computer Games                                                                                                                                  3
Computer Software                                                                                                                              31
Construction                                                                                                                                    6
Construction tech                                                                                                                               1
Consultancy                                                                                                                                     1
Consulting                                                                                                                                      9
Consumer                                                                                                                                        3
Consumer Applications                                                                                                                           1
Consumer Electronics                                                                                                                            7
Consumer Goods                                                                                                                                 29
Consumer Lending                                                                                                                                4
Consumer Services                                                                                                                               7
Consumer appliances                                                                                                                             1
Consumer software                                                                                                                               1
Content Marktplace                                                                                                                              2
Content commerce                                                                                                                                1
Content creation                                                                                                                                1

In [312]:
# Fix structural errors

In [143]:
Final_Startup_Data[Final_Startup_Data.isna().Sector]

,Company/Brand,Sector,Stage,HeadQuarter,What it does,Amount($),Year
58,MissMalini Entertainment,NaN,Seed,Mumbai,"MissMalini Entertainment is a multi-platform new media network dedicated to Entertaining, Connecting & Empowering young Indians.",1518400.0,2018
105,Jagaran Microfin,NaN,Debt Financing,Kolkata,Jagaran Microfin is a Microfinance institution which achieves a healthy amalgamation of social and financial,8030000.0,2018
121,FLEECA,NaN,Seed,Jaipur,FLEECA is a Tyre Care Provider company.,NaN,2018
146,WheelsEMI,NaN,Series B,Pune,"WheelsEMI is the brand name of NBFC, WheelsEMI Pvt. Ltd.",14000000.0,2018
153,Fric Bergen,NaN,NaN,Alwar,Fric Bergen is a leader in the specialty food industry.,NaN,2018
174,Deftouch,NaN,Seed,Bangalore,Deftouch is a mobile game development company that currently focuses on winning the Cricket gaming market with a social multiplayer game.,NaN,2018
181,Corefactors,NaN,Seed,Bangalore,"Corefactors is a leading campaign management, business communication and analytics company.",NaN,2018
210,Cell Propulsion,NaN,Seed,Bangalore,Cell Propulsion is an electric mobility startup that designs autonomous electric vehicles.,102200.0,2018
230,Flathalt,NaN,Angel,Gurgaon,FInd your Customized Home here.,50000.0,2018
235,dishq,NaN,Seed,Bengaluru,dishq leverages food science and machine learning (AI) to understand and predict people's tastes.,400000.0,2018
238,Trell,NaN,Seed,Bangalore City,Trell is a location based network which helps you in exploring amazing experiences and annotating places around you.,1250000.0,2018
242,HousingMan.com,NaN,Seed,Bengaluru,"New Apartments, Flats for Sale in Bangalore",1503800.0,2018
243,Steradian Semiconductors,NaN,Seed,Bangalore,It is a fabless semiconductor company focused on CMOS millimeter wave products for Radar.,NaN,2018
247,SaffronStays,NaN,Seed,Mumbai,SaffronStays connects travellers to India's Incredible hosts.,2000000.0,2018
251,Inner Being Wellness,NaN,Angel,Hyderabad,"Inner Being Wellness manufactures beauty, wellness, and nutrition products.",511000.0,2018
257,MySEODoc,NaN,Seed,Delhi,"SEO, PPC, Search Engine Marketing, Social Media Optimization, Content Marketing, Brand Reputation Management",NaN,2018
258,ENLYFT DIGITAL SOLUTIONS PRIVATE LIMITED,NaN,Seed,Pune,Digital Marketing Agency,2920.0,2018
259,Scale Labs,NaN,Seed,Delhi,Scale Labs is a cross border e-commerce solutions provider that drives global trade for brands.,1000000.0,2018
294,Roadcast,NaN,Angel,New Delhi,Transforming the way businesses deliver. Work-force & fleet mobility tools.,250000.0,2018
325,Toffee,NaN,Seed,Gurgaon,"Toffee is a bite size, micro-event & contextual insurtech startup which aims to de-jargonise the insurance buying experience.",1500000.0,2018
326,ORO Wealth,NaN,Series A,Mumbai,Online wealth management platform,1600000.0,2018
346,Finwego,NaN,Seed,Chennai,Finwego partners with Small and Medium Businesses in India to offer convenient and responsible credit to their employees,NaN,2018
397,Cred,NaN,Seed,Bengaluru,Cred is a platform to celebrate and reward the most creditworthy people of India.,NaN,2018
456,Origo,NaN,NaN,Gurgaon,"Origo Commodities, a complete post-harvest management services for agricultural commodities, is the fastest growing company in its sector.",11680000.0,2018
471,Sequretek,NaN,NaN,Mumbai,Sequretek is a cyber security start-up.,3700000.0,2018
472,Avenues Payments India Pvt. Ltd.,NaN,Corporate Round,Mumbai,Avenues Payments is an IT solutions provider for the remittance\money transfer and forex industries.,1300000.0,2018
475,Planet11 eCommerce Solutions India (Avenue11),NaN,Corporate Round,Bengaluru,"Planet11 is backed by SK Planet, which is a part of the SK Group – one of the largest conglomerates in South Korea.",3796000.0,2018
477,Iba Halal Care,NaN,Series A,Ahmedabad,Iba Halal Care is a cosmetics brand company.,2190000.0,2018
479,Togedr,NaN,NaN,Gurgaon,Togedr is an activity discovery & booking platform.,NaN,2018
509,Scholify,NaN,Pre-Seed,Bengaluru,Edutech,NaN,2018
566,VMate,NaN,NaN,NaN,A short video platform,100000000.0,2019
574,Awign Enterprises,NaN,Series A,Bangalore,It supplies workforce to the economy,4000000.0,2019
577,TapChief,NaN,Pre series A,Bangalore,It connects individuals in need of advice in a specific domain to individuals who have expertise in the same,1500000.0,2019
581,KredX,NaN,Series B,Bangalore,Invoice discounting platform,26000000.0,2019
582,m.Paani,NaN,Series A,Mumbai,It digitizes and organises local retailers,5500000.0,2019
1129,Text Mercato,NaN,Series A,Bangalore,Cataloguing startup that serves ecommerce platforms,649600.0,2020
1180,Magicpin,NaN,Series D,Gurugram,"It is a local discovery, rewards, and commerce platform",7000000.0,2020
1298,Leap Club,NaN,Pre seed Round,Gurugram,Community led professional network for women,340000.0,2020
1310,Juicy Chemistry,NaN,Series A,NaN,It focuses on organic based skincare products,650000.0,2020
1318,Magicpin,NaN,NaN,Gurugram,"It is a local discovery, rewards, and commerce platform",3879000.0,2020
1343,Servify,NaN,NaN,Mumbai,It is a technology company which serves as a platform for brands to offer end-to-end solutions to their users,250000.0,2020
1357,Wagonfly,NaN,NaN,Bangalore,Contactless shopping and delivery experience by using radio frequency to tag retail items,500000.0,2020
1374,DrinkPrime,NaN,Seed,Bangalore,Water purifier subscription service,NaN,2020
1420,Kitchens Centre,NaN,Seed,Delhi,Offers solutions to cloud kitchens by providing commercial space and kitchen infrastructure to assisting with branding and other services,500000.0,2020
1529,Innoviti,NaN,NaN,Bangalore,Digital payments solutions company,5000000.0,2020
1537,Brick&Bolt,NaN,Pre Series A,Bangalore,Operates in the residential construction space,1500000.0,2020
1623,Toddle,NaN,NaN,Bengaluru,Collaboration and productivity platform for teachers across the world,NaN,2020
1642,HaikuJAM,NaN,NaN,NaN,Creative writing mobile platform,3400000.0,2020

In [313]:
# Replace the missing values manually